<h2>Temperature Sensing using DS18B20 Digital Sensors</h2>

<p><strong>Note: </strong>When referring to Arduino below, this works in the same way on the emonTx which is arduino-based.</p>

<p>The <a href="http://datasheets.maxim-ic.com/en/ds/DS18B20.pdf">DS18B20</a> is a small temperature sensor with a built in 12bit ADC. It can be easily connected to an Arduino digital input. The sensor communicates over a one-wire bus and requires little in the way of additional components.</p>



<p>The sensors have a quoted accuracy of +/-0.5 deg C in the range -10 deg C to +85 deg C.&nbsp;</p>

<h3>Hardware</h3>

<p>Multiple sensors can be connected to the same data bus. Each sensor identifies itself by a unique serial number.</p>

<p>The sensor can operate in normal or parasite mode. In normal mode, a 3-wire connection is needed. In parasite mode the sensor derives its power from the data line. Only two wires, data and ground, are required.</p>

<p><span style="font-style: italic"><strong>Note: </strong>The Arduino positive supply rail is referred to as V<sub>cc</sub> and the positive supply for the DS18B20 as V<sub>dd</sub>. In this context, the two are the same.</span></p>

<p>
<h3>Normal Mode</h3>

<p>In normal mode, each sensor is connected between a power line (V<sub>dd</sub> pin 3) and ground (GND pin 1), and the data output (DQ pin 2) connects to a third, data, line.&nbsp;The data output is a 3-state or open-drain port (DQ pin 2) and requires a 4k7 pull-up resistor. The data line is connected to an available&nbsp;Arduino digital input or Arduino digital pin 4 in the case of the emonTx.</p>

<p>Normal mode is recommended when many devices and/or long distances are involved.</p>

<h3>Parasite Mode</h3>
Parasite power mode requires both DS18B20 GND (pin 1) and V<sub>dd</sub> (pin 3) to be connected to ground. The DQ pin (pin 2 - the middle pin) is the data/parasite power line. The data line requires a pull-up resistor of 4k7 connected to + 5 V. The data line is connected to an available Arduino digital input or Arduino digital pin 4 in the case of the emonTx.

<p>Parasite mode should be used only with a small number of devices, over relatively short distances.</p>
</p>



<p>
<table>
	<tbody>
		<tr>
			<td width="400px"><img alt="" src="files/normal-power-connection-diagram.png" /><br />
			&nbsp;Figure 1:&nbsp;Normal Power Connection Diagram</td>
			<td width="350px"><img alt="" src="files/parasite-power-connection-diagram.png" /><br />
			&nbsp;Figure 2:&nbsp;Parasite Power Connection Diagram</td>
		</tr>
		<tr>
			<td width="400px"><img alt="" src="files/temp-sensors-connection-diagram-3-wire.png" /><br />
			&nbsp;Figure 3:&nbsp;Three DS18B20&#39;s in normal power mode</td>
			<td width="350px"><img alt="" src="files/temp-sensors-connection-diagram.png" /><br />
			&nbsp;Figure 4:&nbsp;Three DS18B20&#39;s in parasite power mode</td>
		</tr>
	</tbody>
</table>
</p>



<h3>Connecting multiple sensors</h3>

<p>
<p>If the sensors are located relatively close to the Arduino/emonTx, then satisfactory operation should be achieved by making a parallel connection of the sensors at the connection to the Arduino or emonTx . This is called a radial or &#39;star&#39; arrangement.</p>

<p>If long cable runs are required, consideration should be given to connecting in &#39;daisy-chain&#39; fashion where one cable runs from the furthest sensor, connecting to each sensor in turn, before ending at the Arduino or emonTx.</p>

<p>There is more about this in the note below.</p>

<p>For short cable runs, unscreened two or three-core cable, or single-core (parasite mode) or twin-core (normal mode) screened audio cable should be suitable. For longer cable runs, low capacitance cable such as RF aerial downlead (parasite mode) has been successfully used over a distance of 10 m. CAT 5 network cable has also been used with success over a distance of 30m, with data &amp; ground using one twisted pair and power &amp; ground using a second twisted pair.</p>

<h3>Cable Length</h3>

<p>Up to 20m cable length has <a href="https://twitter.com/mharizanov/status/704194316659515392">been successfully&nbsp;reported</a> with a lower pull-up resistor value of 2K. Adding multiple sensors will reduce the practical length, as will&nbsp;non consistent / nonlinear cable runs, <a href="https://www.maximintegrated.com/en/app-notes/index.mvp/id/148">see app note</a></p>

<h3>Temperature Sensing with the emonTx</h3>

<p>?Update: For emonTx V3 and emonPi see Wiki:</p>

<p>https://wiki.openenergymonitor.org/index.php/EmonPi#DS18B20_Temperature</p>

<p>https://wiki.openenergymonitor.org/index.php/EmonTx_V3.4#RJ45_Connection</p>

<p>The emonTx supports direct connection of DS18B20 temperature sensors, however, there are significant differences between emonTx V2 and&nbsp;emonTx V3.</p>

<h3>The emonTx V2</h3>

<p>The PCB includes the option to solder a DS18B20 sensor directly onto the PCB for monitoring the temperature where the emonTx is located. A more useful option is to connect DS18B20 temperature sensors to the 3.5mm temperature jack port for monitoring remote temperatures e.g. outside temperature, living room temperature and boiler temperature.&nbsp;</p>

<p>The sensors can be connected either in normal or parasite power mode. We recommend normal power mode for increased reliability. 3-core 22AWG wire is perfect for wiring up sensors. Encapsulated sensors can be purchased. and connected. The 4k7 pull-up resistor is provided on the pcb.</p>

<p>Wire up the sensor(s) to a male 3.5mm jack as follows:&nbsp;</p>

<p><img alt="" src="files/Temperature-3-wire-jack.png" style="float: left; margin: 0 2em 2em 2em" /></p>

<table>
	<tbody>
		<tr>
			<th>Connection</th>
			<th>Normal Mode</th>
			<th>Parasite Mode</th>
			<th>Voltage</th>
		</tr>
		<tr>
			<td>Tip</td>
			<td>DQ (data line)</td>
			<td>DQ (data line)</td>
			<td>3.9 V approx</td>
		</tr>
		<tr>
			<td>Ring</td>
			<td>V<sub>dd</sub></td>
			<td>no connection</td>
			<td>+ 5 V</td>
		</tr>
		<tr>
			<td>Sleeve</td>
			<td>GND</td>
			<td>GND + V<sub>dd</sub></td>
			<td>0 V</td>
		</tr>
	</tbody>
</table>

<p>(Voltages are for V2.2 boards powered at 5 V)</p>

<p style="clear:left;">Note: If you purchased the <a href="https://shop.openenergymonitor.com/waterproof-ds18b20-temperature-sensing-kit/">Waterproof DS18B20 temperature sensing kit</a> from the shop, it is pre-wired:</p>

<p class="rteindent1">Data: White wire<br />
V<sub>cc</sub>: Red wire<br />
GND: Black wire</p>

<p>The one-wire temperature data line is hardwired to Arduino Dig I/O 4 on the emonTx PCB. See the emonTx&nbsp;<a href="https://openenergymonitor.org/emon/emontx/reference%20">reference page</a> for schematic and PCB layout.&nbsp;</p>

<p>The emonTx runs internally at 3.3V. On emonTx PCB version 2.0 and 2.1 the DS18B20 also runs at 3.3V.</p>

<p>On emonTx V2.2 the temperature sensors are connected to the PWR rail which is 5V when the emonTx is powered via the 5V mini-USB connector. Note: ignore the solder jumper. If you look carefully, it is already connected to PWR. Running the sensors at 5V gives increased reliability and enables for more sensors and longer cable runs to be used.</p>

<p><a href="https://github.com/openenergymonitor/emonTxFirmware/tree/master/emonTxV2/emonTx_temperature_examples">GitHub emonTx temperature example&nbsp;</a> also includes a sketch to extract the serial number from the DS18B20. (N.B. You must change &quot;#define ONE_WIRE_BUS 4&quot;&nbsp;to &quot;#define ONE_WIRE_BUS 5&quot; for the emonTx V3.4)</p>

<h3>Software</h3>

<p><a href="http://milesburton.com/Dallas_Temperature_Control_Library#The_Library">Dallas Temperature Control Arduino library by Miles Burton. </a></p>

<p>Version 372 works with Arduino 1.0. download it from <a href="http://download.milesburton.com/Arduino/MaximTemperature/">here</a></p>

<p>This library makes interfacing with the sensors very straightforward and comes with examples.</p>

<p>The OneWire protocol communication library is also required. Version 2.0 can be downloaded from <a href="http://www.pjrc.com/teensy/td_libs_OneWire.html">here</a>.</p>

<p>Once the libraries have been extracted to the Arduino libraries folder, and the Arduino IDE restarted, I recommend checking out the &lsquo;simple&rsquo; and &lsquo;multiple&rsquo; examples which are part of the Dallas Temperature Control Library. These two examples demonstrate two methods to identify and communicate with each sensor.</p>

<p><b>Addressing the sensors.</b></p>

<p>Each sensor has a unique serial number assigned by the manufacturer, and your sketch (unless it is the &quot;low-power&quot; sketch that expects a single sensor) must be programmed with these serial numbers so it can identify and interrogate each sensor. Download the examples from <a href="https://github.com/openenergymonitor/emonTxFirmware/tree/master/emonTxV2/emonTx_temperature_examples">GitHub emonTx V2 temperature example</a>. There you will find the <a href="https://github.com/openenergymonitor/emonTxFirmware/tree/master/emonTxV2/emonTx_temperature_examples/temperature_search">temperature search test sketch</a>. You need run the sketch&nbsp;only once to extract and list the serial number from each DS18B20. Then you manually copy the serial numbers into your monitoring sketch.</p>

<p>See <a href="DS18B20-temperature-sensing-2">Part 2</a> for a description of how the order in which the sensors are discovered is decided.</p>

<p><strong>Error values.</strong></p>

<p>The sensor works by reading and converting the temperature and storing this value in scratchpad memory. The scratchpad memory is then read via the One-wire bus by the Dallas library.&nbsp;</p>

<p>
<p>The power-on value in&nbsp;the scratchpad memory is 85 &deg;C. If the scratchpad memory is read before the temperature conversion has completed, then the erroneous temperature value of 85 &deg;C might be returned. Depending on your application, it might not be possible to distinguish this from a genuine reading. This error value might be caused by an intermittent or absent connection of either the power wire (normal mode) or the GND wire.</p>

<p>If the data being read from the scratchpad memory is corrupted in transit, then the checksum will fail and the Dallas library will return a value of -127 &deg;C. This is outside the operating temperature range of the sensor, so can easily be detected in software. This error value might be caused by an intermittent or absent connection of either the data wire (normal mode) or the GND wire, or indeed an absent sensor.</p>
</p>

<h3>The emonTx V3</h3>

<p>The emonTx V3 has a connection for the temperature sensors on a screw terminal block. Full details can be found on the <a href="https://wiki.openenergymonitor.org/index.php?title=EmonTx_V3">Wiki page</a>. The pre-loaded sketch will sense a single temperature sensor at start-up and requires no further configuration. Note: The examples for the emonTx V2 and the temperature search sketch will not work without modification.&nbsp;You will need to edit the sketch due to changed&nbsp;I/O usage in the&nbsp;emonTx&nbsp;V3: You must change&nbsp;&quot;#define ONE_WIRE_BUS 4&quot;&nbsp;to &quot;#define ONE_WIRE_BUS 5&quot;.&nbsp;</p>

<h3>Notes and further reading&nbsp;</h3>

<p>For large numbers of sensors and longer cable runs, use the&nbsp;<a href="http://www.maxim-ic.com/datasheet/index.mvp/id/2923">DS2480B</a>&nbsp;1-wire driver chip. <!-- More info&nbsp;<a href="http://www.shucksmith.co.uk/blog/ds2480bds18b20drivers-1">here</a>. Thanks to<a href="http://twitter.com/#!/shuckc">&nbsp;Chris Shucksmith</a>&nbsp;for sharing.--> [N.B. Some very helpful information from <a href="http://twitter.com/#!/shuckc">&nbsp;Chris Shucksmith</a> appears to have been removed.]</p>

<p><em>&quot;If you intend to have a large 1-wire network, it is important that you design the network correctly, otherwise you will have problems with timing/reflection issues and loss of data. For very small networks, it is possible to connect each sensor in a star or radial arrangement. This means that each sensor is connected via its own cable back to a central point and then connected to the 1-wire to serial adapter. However, it is strongly recommend that you connect each sensor to a single continuous cable which loops from sensor to sensor in turn (daisy chain). This will reduce potential misreads due to reflections in the cable. Each sensor should have a maximum of 50mm (2&quot;) of cable connected off the main highway. Even using this method, connecting more than 10-15 sensors will still cause problems due to loading of the data bus. To minimise this effect, always place a 100-120 ohm resistor in the data leg of each sensor before connecting to the network.&quot;</em></p>

<p>quoted from:&nbsp;<a href="http://www.jon00.me.uk/onewireintro.shtml">http://www.jon00.me.uk/onewireintro.shtml</a></p>
