<h2>4x Multiplexed RTD Temperature sensor module</h2>

<p><em>Updated 30 Nov 2010 : Trystan Lea</em></p>

<h3>Description</h3>

<p>This module can be used to measure temperature using RTD (resistive temperature detectors) sensors.</p>

<p>It produces an analog voltage proportional to the probe temperature.</p>

<p>The module contains a multiplexer to enable using a maximum of four temperature probes.</p>

<h3>Design</h3>

<p><strong>RTD Temperature sensors change their resistance with temperature</strong>. The resistance change is converted to a voltage by a simple voltage divider. The output voltage passes through a low pass filter to remove any unwanted high frequency noise components.</p>

<p>In order to use only one amplifier circuit and one arduino analog input, the temperature sensing input stages are selected sequentially by a <strong>multiplexer</strong>.</p>

<p>Accuracy is maximized by using a difference amplifier to scale the output to the full range of the Arduino analog input.</p>

<h3>Component list</h3>

<p><strong>RTD Input stage</strong></p>

<p><strong>3x</strong>&nbsp;PT1000 RTD Temperature sensors.</p>

<p><strong>3x</strong>&nbsp;10k resistors</p>

<p><strong>3x</strong>&nbsp;100uF capacitors</p>

<p><strong>Multiplexer stage</strong></p>

<p><strong>1x</strong>&nbsp;CD4052 Multiplexer</p>

<p><strong>Amplifier stage</strong></p>

<p><strong>1x</strong>&nbsp;LM324 opamp</p>

<p><strong>1x</strong>&nbsp;100k resistor</p>

<p><strong>1x</strong>&nbsp;10k potentiometer</p>

<p><strong>2x</strong>&nbsp;10k resistor</p>

<p><strong>2x</strong>&nbsp;56k resistors</p>

<p><strong>1x</strong>&nbsp;220k resistor</p>

<h3>Circuit schematic</h3>

<p><strong>Download </strong><a href="http://localhost/docs/files/rtdmodule.png">png</a> : <a href="http://localhost/docs/files/rtdmodule.tar.gz">kiCad</a></p>

<p><a href="http://localhost/docs/files/rtdmodule.png"><img alt="" height="484" src="http://localhost/docs/files/rtdmodule_small.png" width="700" /></a></p>

<h3>Detailed design</h3>

<p><strong>Temperature sensing</strong></p>

<p><img alt="" height="150" src="http://localhost/docs/files/rtdsensor.jpg" width="200" /></p>

<p><em>RTD Temperature sensor</em></p>

<p>The RTD sensors I&#39;m using are type PT1000. Their resistance is 1000ohms at 0C. Another popular value is the PT100 which is 100ohms at 0C. The setup here can easily be modified for PT100&#39;s by changing the 10k resistor on the input stage voltage divider to a 1k resistor.</p>

<p>RTD temperature sensors have a fairly linear increase in resistance as their temperature increases (although not completely).&nbsp;The temperature at a given resistance is determined by a look-up table:</p>

<p><strong>PT1000 resistance table</strong></p>

<table border="1" cellpadding="1" cellspacing="1" width="200">
	<tbody>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; "><strong>C</strong></td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; "><strong>Ohms</strong></td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; "><strong>C</strong></td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; "><strong>Ohms</strong></td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">-10</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">961</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">55</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1213</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">-5</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">980</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">60</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1232</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">0</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1000</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">65</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1252</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">5</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1019</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">70</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1271</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">10</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1039</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">75</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1290</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">15</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1058</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">80</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1309</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">20</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1078</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">85</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1328</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">25</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1097</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">9</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1347</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">30</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1117</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">95</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1366</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">35</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1136</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">100</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1385</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">40</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1155</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">105</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1404</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">45</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1175</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">110</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1423</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">50</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1194</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">&nbsp;</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">115</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1442</td>
		</tr>
	</tbody>
</table>

<p>The changing resistance of the RTD can be converted to a voltage by placing the RTD in a simple voltage divider circuit with a constant voltage source and measuring the voltage across the RTD. As in the following schematic:</p>

<p class="rteindent1"><img alt="" height="250" src="http://localhost/docs/files/voltageDivider.jpg" width="79" /></p>

<p>The resistance of the RTD can be found from the output voltage of the voltage divider by the following equation:</p>

<p class="rteindent1"><em>RTD Resistance = Vout *R / (Vcc - Vout) &nbsp; &nbsp;rearranged for &nbsp;&nbsp;</em>Vout = Vcc*RTD / (RTD + R)</p>

<p>The considerations when choosing R are:</p>

<ul>
	<li>Increasing R minimizes self heating of the RTD, thus minimizing error.</li>
	<li>Increasing R decreases the magnitude of the voltage change per degree, decreasing signal to noise ratio.</li>
	<li>Increasing R increases noise caused by the resistors, decreasing the signal to noise ratio.</li>
</ul>

<p>So to choose R, we need to balance these considerations. I decided to use a 10k resistor.</p>

<p>With a supply voltage of 5V and R =10k, the voltage out at -10C will be 0.438V and at 115C will be 0.630V. This voltage can be measured directly by the Arduino analog inputs, however with default settings the accuracy will not be great. The arduino ADC with the default&nbsp;<a href="http://www.arduino.cc/en/Reference/AnalogReference">ADC reference voltage</a>&nbsp;of 5V divides 0 to 5V in to 1023 divisions, 0.438V to 0.630V therefore has 39 divisions and 125C range divided by 39 is equal to an accuracy of about 3.2C. However by using the full Arduino ADC range we can do much better, the&nbsp;best accuracy achievable would be 125C / 1023 = 0.122C.</p>

<p>To use the full range of the ADC the voltage output from the temperature measurement circuit needs to be 0V at -10C and the arduino ADC reference voltage (what ever it is set to) at 115C.</p>

<p><strong>Obtaining 0V at minimum temperature</strong></p>

<p>The voltage at -10C is 0.438V so a circuit is needed to subtract 0.438V from the voltage output of the RTD input stage. This can be done with a difference amplifier.</p>

<p><strong>The difference amplifier</strong></p>

<p><img alt="" height="251" src="http://localhost/docs/files/difference.png" width="400" /></p>

<p>The voltage output of the difference amplifier above is given by the following equation:</p>

<p><img alt="" height="39" src="http://localhost/docs/files/diffequation.png" width="150" /></p>

<p>From the equation, we can see: if V1 is set to 0.438V&nbsp;and V2 to be the output of the RTD input stage then at -10C (V2 = 0.438V) the output of the difference amplifier will be 0V.&nbsp;</p>

<p>A fixed V1 can be obtained with a voltage divider and a voltage follower&nbsp;to prevent the amplifier circuit from loading the voltage divider in a way that changes the desired fixed voltage.&nbsp;The output of the RTD input stage also needs a voltage follower for the same reason.</p>

<p><strong>Matching maximum voltage out with Arduino ADC reference voltage</strong></p>

<p>With no amplification from the amplifier the voltage at 115C will be 0.630V - 0.438V = 0.192V. The Arduino ADC reference voltage could be set to 0.192V with a simple voltage divider, giving full accuracy. Or alternatively it could be amplified to match the internal ADC reference voltage:</p>

<p><strong>1.1V Internal ADC reference voltage</strong></p>

<p>The default internal ADC reference voltage is 5V. However many amplifiers will not amplify up to their supply voltage.&nbsp;I&#39;m using the LM324 opamp which has a maximum output voltage of its supply: 5V - 1.5V = 3.5V and so 1.5V of the ADC range would be wasted if the ADC reference voltage was set to 5V. The ADC reference voltage could be set to 3.5V, however this would require the added reference voltage voltage divider. Luckily the Arduino has a 1.1V internal ADC reference voltage that can be selected from the Arduino sketch. Using this reference voltage along with amplification of the 0.192V signal to 1.1V, the maximum voltage output can be matched with the ADC reference voltage without the need for extra components.</p>

<p><strong>Amplification</strong></p>

<p>Amplifying 0.192V to 1.1V requires a gain of 5.7 times. The gain of the difference amplifier is given by RB / RA, and the main considerations when choosing RB and RA are:</p>

<ul>
	<li>RB / RA needs to be equal or as close to 5.7 as possible.</li>
	<li>Larger magnitude resistors increases noise.</li>
	<li>Larger magnitude resistors decreases power consumption.</li>
</ul>

<p>Again, it is a matter of balance between noise and power consumption. I tried a combination of different resistors here: 100k / 560k, 10k / 56k and 1k / 5.6k. The noise went down noticeably from 100k to 10k but not noticeably lower at 1k, so I decided to go with RA=10k and RB=56k.</p>

<p><strong>Multiplexer</strong></p>

<p>In order to save the effort and cost of building multiple amplifier circuits one for each RTD sensor a multiplexer can be used to select each sensor sequentially, allowing 4 sensors to share one opamp. The multiplexer I used is a 4052 chip. The inputs can be selected with two digital control lines A and B.</p>

<table border="1" cellpadding="1" cellspacing="1" width="200">
	<tbody>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; "><strong>A</strong></td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; "><strong>B</strong></td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; "><strong>Input pin</strong></td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">0</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">0</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1 (0y)</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">0</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">5 (1y)</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">0</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">2 (2y)</td>
		</tr>
		<tr>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">1</td>
			<td style="font-family: Arial, Verdana, sans-serif; font-size: 12px; ">4 (3y)</td>
		</tr>
	</tbody>
</table>

<p><strong>Low pass filter</strong></p>

<p>The RTD sensor leads are often quite long and may act like aerials, which adds a lot of noise to the voltage signal coming in to the temperature sensing circuit. To get rid of the noise, a capacitor can be connected in parallel with the RTD sensor. The capacitor acts as a low pass filter. I found a 100uF capacitor to be effective enough at getting rid of most of the noise.</p>

<p><strong>220k output resistor</strong></p>

<p>By chance, while experimenting with reducing noise in the circuit, I tried adding a resistor on the output of the amplifier. Interestingly, the noise dropped by nearly 50% with resistances in the 100-220k range. Below 100k and above&nbsp;470k the noise would increase. The datasheet for the Atmel 328 states that the output impedance of circuits connected to the analog inputs should be 10k or less, so this doesn&#39;t quite make sense. At the moment, I&#39;m not quite sure why this works but it does reduce the noise significantly. The datasheet does state that the time for an analog read increases with higher impedance, so maybe it is some kind of averaging affect over the read time.</p>

<h3>Connecting the module to the Arduino</h3>

<p><em><strong>Connection diagram</strong></em></p>

<p>The example Arduino sketch below reads the temperatures of the RTD sensors and prints the temperatures to the serial port for logging. The RTD temperature sensor library hopefully makes the main sketch less cluttered. For example, to get the temperature of the collector sensor:</p>

<p><em>temperature = sensorName.getTemperature();</em></p>

<p><strong>Download RTDsensor library:</strong>&nbsp;<a href="http://localhost/docs/files/RTDModuleLib.tar.gz">RTDSensorLib.tar.gz</a>&nbsp;</p>

<p><strong>Download the Arduino sketch: </strong><a href="http://localhost/docs/files/RTDModuleExample.tar.gz">RTDModuleExample.tar.gz</a></p>

<p><em>Browse software in repository&nbsp;:&nbsp;</em><a href="https://openenergymonitor.org/emon/software"><em>software repository</em></a></p>

<p>1) Copy the library to your Arduino/Libraries folder</p>

<p>2) Open the example sketch in the arduino IDE and reset the current calibration:</p>

<p>&nbsp;</p>

<p class="rteindent1" style="font-size: 1.1em; margin-top: 0.5em; margin-bottom: 0.9em; ">rtd.calibration(0, 0.120270927, -15.066198679);</p>

<p class="rteindent1" style="font-size: 1.1em; margin-top: 0.5em; margin-bottom: 0.9em; ">needs to be</p>

<p class="rteindent1" style="font-size: 1.1em; margin-top: 0.5em; margin-bottom: 0.9em; "><strong>rtd.calibration(0, 1.0, 1.0);</strong></p>

<p style="font-size: 1.1em; margin-top: 0.5em; margin-bottom: 0.9em; ">(Thank you to Justin for the <a href="https://openenergymonitor.org/emon/node/874">observation</a>)</p>

<p>3) compile+upload the Sketch to the Arduino.</p>

<p>&nbsp;</p>

<p>If you now go to the Arduino Serial monitor you should see values three columns of values, like so:</p>

<p class="rteindent1"><em>1023.0&nbsp;<em>1023.0<em>&nbsp;<em>1023.0</em></em></em></em></p>

<p class="rteindent1">At this point, the program is not calibrated, the output corresponds to the ADC value. So to see temperature values the next step is:</p>

<h2>Calibration</h2>

<p><strong>Calibrating the minimum</strong></p>

<p>1) Choose the minimum temperature to be measured and find the resistance of the RTD at this temperature. For example if a minimum of -10C is chosen from the lookup table the resistance should be 960Ohms.</p>

<p>2) Holding the RTD at a certain temperature for calibration is quite a challenge, so to make things easier, create a resistor equal to your chosen minimum resistance. I found the easiest way to do this is to use a variable resistor and a multimeter.</p>

<p>3) Connect your &#39;minimum&#39; resistance to one of the 3 RTD inputs.&nbsp;</p>

<p>4) With the Arduino connected to the computer, go to the Arduino serial monitor and check the value being printed.</p>

<p>5) Adjust the voltage offset variable resistor until this value is between say 10 and 40. Note the value you have set it to and the corresponding minimum temperature that it corresponds to. For example:</p>

<p>-10C corresponds to 30</p>

<p><strong>Calibrating the maximum</strong></p>

<p>While watching the Arduino serial monitor, increase the resistance of the &#39;RTD&#39; variable resistor on the input until the value on the serial monitor hits 1023.&nbsp;</p>

<p>Measure the resistance at this point with a multimeter and find the corresponding temperature. If the temperature is not close to your desired maximum, either change the gain of the opamp by changing resistor RA and RB and/or tweak the offset voltage divider. I&#39;m afraid this is a difficult calibration procedure.</p>

<p>Once you are happy with the maximum temperature and the minimum temperature note the temperatures and serial output readouts, for example:</p>

<p>-10C corresponds to 30</p>

<p>115C corresponds to 1010</p>

<p>Using the equation for a straight line, the calibration coefficients can now be found:</p>

<p class="rteindent1"><em>y = mx + c</em></p>

<p class="rteindent1"><em>-10 = m * 30 + c</em></p>

<p class="rteindent1"><em>115 = m * 1010 + c</em></p>

<p class="rteindent1"><em>m = (y1 - y2) / (x1 - x2)</em></p>

<p class="rteindent1"><em>m = (-10 - 115) / (30 - 1010) = 0.128</em></p>

<p class="rteindent1"><em>c = -10 - 0.128 * 30 = -13.84</em></p>

<p>Place these calibration coefficients in the Arduino sketch. For example:</p>

<p class="rteindent1"><em>MultiplexedRTDSensor <em>sensorName<em>(2,4,5,0,0, m, c);</em></em></em></p>

<p class="rteindent1"><em>MultiplexedRTDSensor <em>sensorName<em>(2,4,5,0,0, 0.128, -13.84);</em></em></em></p>

<p>Upload the new sketch to the Arduino. The output should be temperature in degrees C. The calibration procedure is best repeated for each sensor to maximise accuracy. This time however, none of the resistors should need changing.</p>

<p>With all that done, the solar hot water controller should now be functional, try experimenting with the temperature differences that turn the pump on and off. Graphing can be done with KST and the standard deviation can be found with KST too, which gives an indication of the noise present.&nbsp;I managed to get a standard deviation of about 0.03 - 0.07C and a resolution of about 0.13C.</p>

<p>Another thing to experiment with is using software based averaging and smoothing, the command:</p>

<p><em>temperature = <em>sensorName<em>.getTemperature();&nbsp;</em></em></em></p>

<p>can be replaced with:&nbsp;</p>

<p><em><em>temperature<em> = <em><em><em><em>sensorName<em><em><em>.getTemperatureSmooth(number of samples to average, number of averaged samples to smooth);</em></em></em></em></em></em></em></em></em></em></p>

<p>try&nbsp;<em><em>temperature<em> = <em>sensorName<em>.getTemperatureSmooth(100,4);&nbsp;</em></em></em></em></em></p>

<p>Smoothing appears to increase the resolution significantly to below 0.1C but I&#39;m not sure of the theory behind this, and so it would be a good thing to investigate further:</p>

<h3>Further development questions</h3>

<p>I&#39;m learning while doing this project, so there are a few questions that I currently have that need further investigation, I have listed those below. I&#39;m also sure there will be countless things I don&#39;t yet know that will creep up and need further investigation.</p>

<ul>
	<li>How acceptable and accurate is software based smoothing and averaging?</li>
	<li>What is the theory behind this?</li>
	<li>Should calibration be done against the lookup table?</li>
	<li>Exactly how accurate is it without lookup table calibration?</li>
</ul>

<h3>Additional reading</h3>

<p>Found a really good book on microcontroller based temperature measurement that I would definitely recommend. It has a chapter on RTD temperature sensors and circuit suggestions in addition to other type of temperature sensors.</p>

<p><a href="http://www.elsevier.com/wps/find/bookdescription.cws_home/680245/description#description"><em>MICROCONTROLLER-BASED&nbsp;TEMPERATURE MONITORING&nbsp;AND CONTROL</em></a><em>&nbsp;by&nbsp;Dogan Ibrahim</em></p>
