<h2><strong>*See <a href="https://openenergymonitor.org/emon/modules/emontx/firmware/calibration">emonTx calibration page</a> for a summary of calibration coefficients*</strong></h2>

<h3>AC to AC power adapters</h3>

<p>A 9V AC-AC adapter can be connected to the emonTx to supply an AC voltage sample. This can be used to measure the AC RMS voltage which, in turn, can be used to calculate real power, power factor, frequency and detect power flow direction.&nbsp;</p>

<p>Not all AC-AC adapter are the same. Variations in design, materials and construction mean the AC output waveform varies between different adapters.</p>

<h2>MW (UK plug)</h2>

<p><img alt="" src="http://lab.megni.co.uk/oemdocs/files/MW1.jpg" style="height:200px; width:150px" /></p>

<p>Rating: 9V AC 500mA</p>

<p>Primary resistance: 700 ohm</p>

<p>Secondary resistance: 2.4 ohm</p>

<p>Quiescent power consumption: 3.9W</p>

<p>Supplier: unknown</p>

<p><img alt="" src="http://lab.megni.co.uk/oemdocs/files/MW.jpg" /></p>

<h2>Strontronics (UK plug)</h2>

<p><img alt="" src="http://lab.megni.co.uk/oemdocs/files/Stontronics1.jpg" style="height:200px; width:150px" /></p>

<p>Rating: 9V AC 100mA</p>

<p>Primary resistance: 266 ohm</p>

<p>Secondary resistance: 1.3 ohm</p>

<p>Quiescent power consumption: 2.5 - 3.4W</p>

<p>Supplier: Farnell&nbsp;<a href="http://uk.farnell.com/stontronics/ac-09100bs2-1/adaptor-9vac-1a-uk-2-1/dp/1279503?Ntt=1279503">http://uk.farnell.com/stontronics/ac-09100bs2-1/adaptor-9vac-1a-uk-2-1/dp/1279503?Ntt=1279503</a></p>

<p><img alt="" src="http://lab.megni.co.uk/oemdocs/files/Stontronics.jpg" /></p>

<h2>Mascot 9580 (UK plug)</h2>

<p><img alt="" src="http://lab.megni.co.uk/oemdocs/files/mascot1.jpg" style="height:200px; width:150px" /></p>

<p>Rating: 9V AC 300mA</p>

<p>Primary resistance: 1.37Kohm&nbsp;</p>

<p>Secondary resistance: 3.3 ohm</p>

<p>Quiescent power consumption: 1.4W</p>

<p>Supplier: RS<a href="http://uk.rs-online.com/web/p/products/400-6484/">&nbsp;http://uk.rs-online.com/web/p/products/400-6484/</a></p>

<p><img alt="" src="http://lab.megni.co.uk/oemdocs/files/Mascot 9580.jpg" /></p>

<h2>FP AD 3515 (euro plug)</h2>

<p><img alt="" src="http://lab.megni.co.uk/oemdocs/files/FP1.jpg" style="height:200px; width:150px" /></p>

<p>Rating: 9V AC 528mA</p>

<p>Primary resistance: 970 ohm&nbsp;</p>

<p>Secondary resistance: 3.5 ohm</p>

<p>Quiescent power consumption: 1.5W</p>

<p>Supplier: RS&nbsp;<a href="http://uk.rs-online.com/web/p/products/459-853/">http://uk.rs-online.com/web/p/products/459-853/</a></p>

<p><img alt="" src="http://lab.megni.co.uk/oemdocs/files/FP 528.jpg" /></p>

<p>&nbsp;</p>

<h2>TDC</h2>

<p><img alt="" src="http://lab.megni.co.uk/oemdocs/files/TDC1.jpg" style="height:267px; width:200px" /></p>

<p>Rating: 9VAC 600mA</p>

<p>Primary resistance: 705 ohm</p>

<p>Secondary resistance: 2.3 ohm</p>

<p>Quiescent power consumption: 0W</p>

<p>Supplier:&nbsp;<a href="http://www.idealpower.co.uk/">http://www.idealpower.co.uk/</a></p>

<p>&nbsp;<img alt="" src="http://lab.megni.co.uk/oemdocs/files/TDC.jpg" /></p>

<p>&nbsp;</p>
