<h2>Application Notes</h2>
<p>Application notes are a great source of useful information on how to design whole systems. They are probably one of the first places to look when designing a new piece of hardware. Here is a quick list of energy monitor/meter application notes that look useful:</p>
<p><a href="http://www.atmel.com/dyn/resources/prod_documents/doc2566.pdf">AVR465: Single-Phase Power/Energy Meter with Tamper Detection</a></p>
<p>Current measurement done with CT sensors. Voltage measurement is direct. Interesting use of switchable gain amplifiers to increase accuracy at smaller currents.</p>
<p><strong>Special function Energy meter/monitoring IC's</strong></p>
<p>As well as the IC's themselves there's quite a bit of info here about how to connect up CT's and voltage measurement.</p>
<p><a href="http://www.analog.com/en/analog-to-digital-converters/energy-measurement/ade5166/products/product.html"><span>SINGLE-PHASE ENERGY MEASUREMENT IC WITH 8052 MCU, RTC, AND LCD DRIVER</span></a> (Thanks to Hendrik for the link)</p>
<p><a href="http://www.analog.com/en/analog-to-digital-converters/energy-measurement/ade7753/products/technical-documentation/resources.html?display=popup">Analog Devices Technical Documentation</a> page (wish I'd looked for this earlier, looks full of useful info)</p>
<p><a target="_blank" href="http://www.analog.com/static/imported-files/application_notes/57571383197878AN_758_0.pdf"><strong>AN-758:&nbsp;</strong>Creating a Reactive Energy Pulse Output Based on the ADE7753</a></p>
<p><a target="_blank" href="http://www.analog.com/static/imported-files/application_notes/an564.pdf"><strong>AN-564:&nbsp;</strong>A Power Meter Reference Design Based on the ADE7756</a></p>
<p><a href="http://www.analog.com/static/imported-files/eval_boards/ADE7753_EvalBoard.pdf">ADE7753 Evaluation Board Documentation</a></p>
<p><a onmousedown="return rwt(this,'','','res','3','AFQjCNFayqBkOQlcSeRVsm8rrfuLwHC6Tw','&amp;sig2=8PPRSsBSoaUgI87xPe4kyQ','0CBIQFjAC')" class="l" href="http://www.google.co.uk/url?sa=t&amp;source=web&amp;ct=res&amp;cd=3&amp;ved=0CBIQFjAC&amp;url=http%3A%2F%2Fwww.analog.com%2Fstatic%2Fimported-files%2Fapplication_notes%2F2698536550528608457AN641_0.pdf&amp;ei=S7l_S5LUO4n00gTy0dC0BA&amp;usg=AFQjCNFayqBkOQlcSeRVsm8rrfuLwHC6Tw&amp;sig2=8PPRSsBSoaUgI87xPe4kyQ">A 3-<em>Phase Power Meter</em> Based on the ADE7752 <em>Application Note</em> (AN-641)</a></p>
<p><a href="http://www.microchip.com/stellent/idcplg?IdcService=SS_GET_PAGE&amp;nodeId=1824&amp;appnote=en024058">Microchip:&nbsp;IEC Compliant Active-Energy Meter Design Using the MCP3905A/6A                           </a></p>
<p><a href="http://www.microchip.com/stellent/idcplg?IdcService=SS_GET_PAGE&amp;nodeId=1824&amp;appnote=en533736">Microchip: PIC18F2520 MCP3909 3-Phase Energy Meter Reference Design</a></p>
<p><a href="http://www.maxim-ic.com/app-notes/index.mvp/id/4453">Maxim: Using the MAXQ3180 Analog Front-End in a Single-Phase Configuration</a></p>
<p><strong>Other useful info</strong></p>
<p>Article on sizing Current transformers and discussion of errors:</p>
<p><a href="http://www.datatronics.com/pdf/current_sense_article.pdf">http://www.datatronics.com/pdf/current_sense_article.pdf</a></p>
<p>
<meta http-equiv="content-type" content="text/html; charset=utf-8" /></p>
<p>Are there others that should be added?</p>
<p>&nbsp;</p>
<p>&nbsp;</p>