<p>&nbsp;</p>

<table border="2" cellpadding="1" cellspacing="1" style="width: 700px;">
	<thead>
		<tr>
			<th colspan="4" rowspan="2" scope="row" style="text-align: center; vertical-align: middle;">&nbsp;</th>
			<th colspan="3" rowspan="1" scope="col" style="text-align: center; vertical-align: middle;">EmonTx</th>
			<th colspan="2" rowspan="1" scope="col" style="text-align: center; vertical-align: middle;">EmonTH</th>
			<th colspan="2" rowspan="1" scope="col" style="text-align: center; vertical-align: middle;">EmonPi</th>
			<th colspan="2" rowspan="1" scope="col" style="text-align: center; vertical-align: middle;">RFM2Pi</th>
			<th colspan="2" rowspan="1" scope="col" style="text-align: center; vertical-align: middle;">Shield</th>
		</tr>
		<tr>
			<th scope="col" style="text-align: center; vertical-align: middle;">2.2</th>
			<th scope="col" style="text-align: center; vertical-align: middle;">3.2</th>
			<th scope="col" style="text-align: center; vertical-align: middle;">3.4</th>
			<th scope="col" style="text-align: center; vertical-align: middle;">1.4</th>
			<th scope="col" style="text-align: center; vertical-align: middle;">1.5</th>
			<th scope="col" style="text-align: center; vertical-align: middle;">1.5</th>
			<th scope="col" style="text-align: center; vertical-align: middle;">1.6</th>
			<th scope="col" style="text-align: center; vertical-align: middle;">2.6</th>
			<th scope="col" style="text-align: center; vertical-align: middle;">3.1</th>
			<th scope="col" style="text-align: center; vertical-align: middle;">1.0</th>
			<th scope="col" style="text-align: center; vertical-align: middle;">2.5</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">&nbsp;0&nbsp;</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">RX</td>
			<td style="text-align: center; vertical-align: middle;">RX</td>
			<td style="text-align: center; vertical-align: middle;">RX</td>
			<td style="text-align: center; vertical-align: middle;">RX</td>
			<td style="text-align: center; vertical-align: middle;">RX</td>
			<td style="text-align: center; vertical-align: middle;">RX</td>
			<td style="text-align: center; vertical-align: middle;">RX</td>
			<td style="text-align: center; vertical-align: middle;">RX</td>
			<td style="text-align: center; vertical-align: middle;">RX</td>
			<td style="text-align: center; vertical-align: middle;">RX</td>
			<td style="text-align: center; vertical-align: middle;">RX</td>
			<td style="text-align: center; vertical-align: middle;">RX</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">1</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">TX</td>
			<td style="text-align: center; vertical-align: middle;">TX</td>
			<td style="text-align: center; vertical-align: middle;">TX</td>
			<td style="text-align: center; vertical-align: middle;">TX</td>
			<td style="text-align: center; vertical-align: middle;">TX</td>
			<td style="text-align: center; vertical-align: middle;">TX</td>
			<td style="text-align: center; vertical-align: middle;">TX</td>
			<td style="text-align: center; vertical-align: middle;">TX</td>
			<td style="text-align: center; vertical-align: middle;">TX</td>
			<td style="text-align: center; vertical-align: middle;">TX</td>
			<td style="text-align: center; vertical-align: middle;">TX</td>
			<td style="text-align: center; vertical-align: middle;">TX</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">2</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">RFM_IRQ</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ</td>
			<td style="text-align: center; vertical-align: middle;">PULSE</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ</td>
			<td style="text-align: center; vertical-align: middle;">PULSE</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">3</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">PULSE</td>
			<td style="text-align: center; vertical-align: middle;">PULSE</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ</td>
			<td style="text-align: center; vertical-align: middle;">PULSE</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ</td>
			<td style="text-align: center; vertical-align: middle;">PULSE</td>
			<td style="text-align: center; vertical-align: middle;">PULSE</td>
			<td style="text-align: center; vertical-align: middle;">PULSE</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ<sup>a</sup></td>
			<td style="text-align: center; vertical-align: middle;">RFM IRQ<sup>a</sup></td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">4</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">1W_IO</td>
			<td style="text-align: center; vertical-align: middle;">1W IO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">1W IO</td>
			<td style="text-align: center; vertical-align: middle;">1W IO</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">1W IO</td>
			<td style="text-align: center; vertical-align: middle;">1W IO</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">5</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">1W_PWR</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">1W IO</td>
			<td style="text-align: center; vertical-align: middle;">1W IO</td>
			<td style="text-align: center; vertical-align: middle;">1W PWR</td>
			<td style="text-align: center; vertical-align: middle;">1W PWR</td>
			<td style="text-align: center; vertical-align: middle;">1W PWR</td>
			<td style="text-align: center; vertical-align: middle;">1W PWR</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL<sup>b</sup></td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL<sup>b</sup></td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">6</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">DHT_PWR / OOK</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">LED</td>
			<td style="text-align: center; vertical-align: middle;">LED</td>
			<td style="text-align: center; vertical-align: middle;">DHT PWR</td>
			<td style="text-align: center; vertical-align: middle;">DHT PWR</td>
			<td style="text-align: center; vertical-align: middle;">OOK</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">RFM FFS</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">7</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">SW1</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">SW1</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">8</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">SW2 / BTN</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">SW1</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">SW2</td>
			<td style="text-align: center; vertical-align: middle;">BTN</td>
			<td style="text-align: center; vertical-align: middle;">BTN</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">9</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">LED</td>
			<td style="text-align: center; vertical-align: middle;">LED</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">SW2</td>
			<td style="text-align: center; vertical-align: middle;">LED</td>
			<td style="text-align: center; vertical-align: middle;">LED</td>
			<td style="text-align: center; vertical-align: middle;">LED</td>
			<td style="text-align: center; vertical-align: middle;">LED</td>
			<td style="text-align: center; vertical-align: middle;">LED</td>
			<td style="text-align: center; vertical-align: middle;">LED</td>
			<td style="text-align: center; vertical-align: middle;">LED</td>
			<td style="text-align: center; vertical-align: middle;">LED</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">10</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">RFM_SEL</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL</td>
			<td style="text-align: center; vertical-align: middle;">SS</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL</td>
			<td style="text-align: center; vertical-align: middle;">SS</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL</td>
			<td style="text-align: center; vertical-align: middle;">RFM SEL</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">11</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">RFM_SDI</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDI</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDI</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDI</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDI</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDI</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDI</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDI</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDI</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDI</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDI</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDI</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">12</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">RFM_SDO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDO</td>
			<td style="text-align: center; vertical-align: middle;">RFM SDO</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">13</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">RFM_SCK</td>
			<td style="text-align: center; vertical-align: middle;">RFM SCK</td>
			<td style="text-align: center; vertical-align: middle;">RFM SCK</td>
			<td style="text-align: center; vertical-align: middle;">RFM SCK</td>
			<td style="text-align: center; vertical-align: middle;">RFM SCK</td>
			<td style="text-align: center; vertical-align: middle;">RFM SCK</td>
			<td style="text-align: center; vertical-align: middle;">RFM SCK</td>
			<td style="text-align: center; vertical-align: middle;">RFM SCK</td>
			<td style="text-align: center; vertical-align: middle;">RFM SCK</td>
			<td style="text-align: center; vertical-align: middle;">RFM SCK</td>
			<td style="text-align: center; vertical-align: middle;">RFM SCK</td>
			<td style="text-align: center; vertical-align: middle;">RFM SCK</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">14</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">VAC</td>
			<td style="text-align: center; vertical-align: middle;">CT2</td>
			<td style="text-align: center; vertical-align: middle;">VAC</td>
			<td style="text-align: center; vertical-align: middle;">VAC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">VAC</td>
			<td style="text-align: center; vertical-align: middle;">VAC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">VAC</td>
			<td style="text-align: center; vertical-align: middle;">VAC</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">15</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">CT1</td>
			<td style="text-align: center; vertical-align: middle;">CT3</td>
			<td style="text-align: center; vertical-align: middle;">CT1</td>
			<td style="text-align: center; vertical-align: middle;">CT1</td>
			<td style="text-align: center; vertical-align: middle;">BATT</td>
			<td style="text-align: center; vertical-align: middle;">BATT</td>
			<td style="text-align: center; vertical-align: middle;">CT1</td>
			<td style="text-align: center; vertical-align: middle;">CT1</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">CT1</td>
			<td style="text-align: center; vertical-align: middle;">CT1</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">16</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">CT2</td>
			<td style="text-align: center; vertical-align: middle;">VAC</td>
			<td style="text-align: center; vertical-align: middle;">CT2</td>
			<td style="text-align: center; vertical-align: middle;">CT2</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">CT2</td>
			<td style="text-align: center; vertical-align: middle;">CT2</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">CT2</td>
			<td style="text-align: center; vertical-align: middle;">CT2</td>
		</tr>
		<tr>
			<th colspan="2" rowspan="1" scope="row" style="text-align: center; vertical-align: middle;">17</th>
			<td colspan="2" rowspan="1" scope="row" style="text-align: center; vertical-align: middle;">CT3</td>
			<td style="text-align: center; vertical-align: middle;">CT1</td>
			<td style="text-align: center; vertical-align: middle;">CT3</td>
			<td style="text-align: center; vertical-align: middle;">CT3</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">CT3</td>
			<td style="text-align: center; vertical-align: middle;">CT3</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">&nbsp;18</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">SCL</td>
			<td style="text-align: center; vertical-align: middle;">SCL</td>
			<td style="text-align: center; vertical-align: middle;">CT4</td>
			<td style="text-align: center; vertical-align: middle;">CT4</td>
			<td style="text-align: center; vertical-align: middle;">DHT IO</td>
			<td style="text-align: center; vertical-align: middle;">DHT IO</td>
			<td style="text-align: center; vertical-align: middle;">SCL</td>
			<td style="text-align: center; vertical-align: middle;">SCL</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">CT4</td>
			<td style="text-align: center; vertical-align: middle;">CT4</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">19</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">SDA</td>
			<td style="text-align: center; vertical-align: middle;">SDA</td>
			<td style="text-align: center; vertical-align: middle;">1W PWR</td>
			<td style="text-align: center; vertical-align: middle;">1W PWR</td>
			<td style="text-align: center; vertical-align: middle;">1W IO</td>
			<td style="text-align: center; vertical-align: middle;">1W IO</td>
			<td style="text-align: center; vertical-align: middle;">SDA</td>
			<td style="text-align: center; vertical-align: middle;">SDA</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">20</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">CT4 / DHT_IO</td>
			<td style="text-align: center; vertical-align: middle;">NA</td>
			<td style="text-align: center; vertical-align: middle;">NA</td>
			<td style="text-align: center; vertical-align: middle;">RJ45p8</td>
			<td style="text-align: center; vertical-align: middle;">NA</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">RJ45p8</td>
			<td style="text-align: center; vertical-align: middle;">RJ45p8</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">NA</td>
			<td style="text-align: center; vertical-align: middle;">NA</td>
		</tr>
		<tr>
			<th colspan="2" scope="row" style="text-align: center; vertical-align: middle;">21</th>
			<td colspan="2" scope="row" style="text-align: center; vertical-align: middle;">BATT / RJ45p8</td>
			<td style="text-align: center; vertical-align: middle;">NA</td>
			<td style="text-align: center; vertical-align: middle;">NA</td>
			<td style="text-align: center; vertical-align: middle;">BATT</td>
			<td style="text-align: center; vertical-align: middle;">NA</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">NC</td>
			<td style="text-align: center; vertical-align: middle;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle;">NA</td>
			<td style="text-align: center; vertical-align: middle;">NA</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
