<h2>
	Diverting surplus PV Power, by Robin Emley</h2>
<h3>
	A project to design and build a controller to route surplus P.V. energy into the domestic hot water supply.</h3>
<ul>
	<li>
		<a href="mk2/intro">Introduction, and &ldquo;Power&rdquo; v. &ldquo;Energy&rdquo;</a></li>
	<li>
		<a href="mk2/pvmeasurement">Detection and Measurement of surplus PV</a></li>
	<li>
		<a href="mk2/diversion">Diversion and Use of surplus PV</a></li>
	<li>
		<a href="mk2/switchdev">Switching High Current Loads using a Triac</a></li>
	<li>
		<a href="mk2/modes">Mk2 Controller Operating Modes</a></li>
	<li>
		<a href="mk2/vimeasurement">Different ways of Measuring Voltage and Current</a></li>
	<li>
		<a href="mk2/calibration">Calibration of power and voltage, plus phase-alignment</a></li>
	<li>
		<a href="mk2/build">Building a Mk2 PV Router</a></li>
	<li>
		<a href="mk2/versions">Different versions of the Arduino sketch</a></li>
</ul>
<p style="margin-left: 3ex"><img alt="A Mk2 Router installed" src="/site/files/DSCN1613.JPG" style="height: 623px; width: 582px; margin: 5ex 0 0 0" /><br />
	A Mk 2 Router installed (with covers removed)</p>
