<h1><span style="font-size: 12px;">Gas monitoring</span></h1>

<p>This page pulls together information from various sections of the site as the community works toward improving gas meter monitoring methodology and expanding OpenEnergyMonitor capability to include gas consumption monitoring.</p>

<p>The method used counts the revolutions of a dial to determine the volume of gas consumed.</p>

<p>If you are very lucky, your gas meter has a connector that provides access to the meter&#39;s pulse output, enabling you to determine gas consumption via pulse counting.</p>

<h3>Rotating Ring&nbsp;Counting</h3>

<p>Whilst most meters don&#39;t have that capability, many gas meters have a unique &quot;spot&quot; on their rotating disk which can be read with a suitable pickup and electronics. This may be:</p>

<ol>
	<li>A small magnet embedded in the disk. A Hall effect sensor or a reed switch can detect disk rotation.</li>
	<li>A reflective spot on the dial that can be read by an infra-red reflective sensor.</li>
	<li>A uniquely coloured&nbsp;numeral that can be detected by an infra-red reflective sensor. (can be difficult)</li>
</ol>

<h3>Magnetic Counting</h3>

<p><strong>Hall Effect</strong></p>

<p>Hall effect sensors can detect a magnetic field. Sensor output is a voltage which varies in response to a magnetic field. A microcontroller with a Hall effect sensor attached to an interrupt line, can count each complete disk rotation.&nbsp;</p>

<p>The image below shows an Actaris gas meter, suitable for monitoring via this method. The magnetic point is visible&nbsp;as a small silver oval on the rightmost digit. The hall effect sensor can be located on the underside of the cut-out section, pointing upwards, or attached directly to the dial face.</p>

<p><a href="http://localhost/docs/files/uk-gas.jpg"><img alt="" src="http://localhost/docs/files/uk-gas.jpg" style="width: 200px; height: 128px;" /></a></p>

<p>Since a gas meter will not usually have a mains power connection located nearby, it&#39;s desirable for a Hall effect sensor to be a low-power device. Low power consumption enables use with a battery powered emonTx or JeeNode.</p>

<p>Paul Allen (<a href="https://openenergymonitor.org/emon/user/602">MarsFlyer</a>) has successfully used a <a href="http://octopart.com/partsearch#search/requestData&amp;q=MLX90248ESE%20">Melexis&nbsp;MLX90248</a>&nbsp;hall effect sensor. Its average supply current is 10uA. This sensor will react to either a North or South magnetic pole (omnipolar), which simplifies installation. The sensor is supplied as a surface mount SOT23 package which will need to be soldered onto a <a href="https://www.sparkfun.com/products/717">breakout board</a>&nbsp;to enable wires to be connected.&nbsp;</p>

<p>The sensor mentioned above is difficult to source in the UK &ndash;&nbsp;neither RS nor Farnel electronics stock it. A suitable substitute, Diodes AH180N has very similar specifications, is readily available and very low cost. The AH180N is also in a SOT23 package, has an average current consumption of 8-16uA and operates between 2.5 and 5.5 Volts.</p>

<h3>Reed Switch</h3>

<p>&nbsp;</p>

<h3>Reflective Spot Counting</h3>

<p>I have been using this method on my Schroder BK-G4&nbsp;meter for over a year. Details <a href="https://github.com/Bra1nK/HomeMonitor/tree/master/Gas%20Meter%20Pulse%20Creator">here</a>.</p>

<h3>Reference</h3>

<p>There is a&nbsp;<a href="https://openenergymonitor.org/emon/node/2001">forum post</a>&nbsp;listing some common UK gas meters and methods of interfacing them with an emonTX.</p>

<p><a href="http://wattdata.blogspot.com/2011/05/gaslog-arduino-measuring-gas-meter.html">http://wattdata.blogspot.com/2011/05/gaslog-arduino-measuring-gas-meter.html</a>&nbsp;-&nbsp;</p>

<p><a href="https://github.com/MarsFlyer/ArduinoEnergyProjects">https://github.com/MarsFlyer/ArduinoEnergyProjects</a></p>

<p><a href="http://sustburbia.blogspot.com/2010/10/gas-meters-revisited.html">http://sustburbia.blogspot.com/2010/10/gas-meters-revisited.html</a></p>

<p><a href="https://github.com/kristopher/PS2-Mouse-Arduino">https://github.com/kristopher/PS2-Mouse-Arduino</a>&nbsp;- using an optical computer mouse to read a rotating dial&nbsp;</p>

<p>&nbsp;</p>

<h3>Related forum threads</h3>

<p>A few forum threads deal with gas metering / water / pulse counting.</p>

<h5>Gas meters and sensors:</h5>

<p><a href="https://openenergymonitor.org/emon/node/2001">Cracking Gas metering</a> (list of UK gas meters)</p>

<p><a href="https://openenergymonitor.org/emon/node/1585">Wireless Pulse Module</a> / Hall effect sensors &amp; Reed switch debouncing</p>

<p><a href="https://openenergymonitor.org/emon/node/2017">Direct monitoring of power meter pulse using Raspberry Pi &amp; an LDR</a></p>

<p><a href="https://openenergymonitor.org/emon/node/1732">Gas meter monitoring with Hall effect sensor</a> (and Reed switch)</p>

<p><a href="https://openenergymonitor.org/emon/node/3403">Monitoring Gas meters without pulsed output or magnet</a></p>

<p><a href="https://openenergymonitor.org/emon/node/2820">British Gas Smart Meters - Part 1</a></p>

<p><a href="https://openenergymonitor.org/emon/node/3600">emonTH gas with phototransistor or reed switch</a></p>

<h4>Battery / autonomy</h4>

<p><a href="https://openenergymonitor.org/emon/node/1943">Battery-efficient pulse measurement</a></p>

<p><a href="https://openenergymonitor.org/emon/node/2489">Power down, watchdog wake up and power computation</a></p>

<h4>Pulse processing:</h4>

<p><a href="https://openenergymonitor.org/emon/node/3467">https://openenergymonitor.org/emon/node/3467</a></p>

<p><a href="https://openenergymonitor.org/emon/node/1056">https://openenergymonitor.org/emon/node/1056</a></p>

<p><a href="https://openenergymonitor.org/emon/node/2457">https://openenergymonitor.org/emon/node/2457</a></p>

<p><a href="https://openenergymonitor.org/emon/node/3183">https://openenergymonitor.org/emon/node/3183</a></p>

<p><a href="https://openenergymonitor.org/emon/node/3387">https://openenergymonitor.org/emon/node/3387</a></p>

<p><a href="https://openenergymonitor.org/emon/node/2850">https://openenergymonitor.org/emon/node/2850</a></p>

<p><a href="https://openenergymonitor.org/emon/node/3338">https://openenergymonitor.org/emon/node/3338</a></p>

<h4>See also</h4>

<p><a href="https://openenergymonitor.org/emon/user/1531">https://openenergymonitor.org/emon/user/1531</a></p>
