<h2>Reading pulses from meters with pulse outputs..</h2>

<p>Last updated: November 2010</p>

<p><em><em><em>Authors: Glyn Hudson, Trystan Lea</em></em></em></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><b>A note on what this document covers</b></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Although a wealth of information about pulse counting is available, this document deals with counting pulses from as many as 12 sources, using a continuous sampling and direct port manipulation (vice interrupt driven) Arduino sketch.</p>

<p>When counting pulses from only one or two meters, it&#39;s best to use the interrupt method. There are only two interrupt pins on the Arduino, if you wish to count pulses from more than two sources then please read on!&nbsp;</p>

<p>How to interface with wired / switched pulse outputs is discussed also.&nbsp;</p>

<p><a href="https://openenergymonitor.org/emon/node/123">Interrupt method</a></p>

<p><a href="https://openenergymonitor.org/emon/node/124">Interrupt method sleep</a></p>

<h2>Introduction</h2>

<p>Many meters have pulse outputs, examples include: single phase and three phase electrical energy meters, Gas meters, Water meters.</p>

<p>The pulse output may be a flashing LED or a switching relay (usually solid state) or both.</p>

<p>In the case of an electricity meter, a pulse output corresponds to a defined amount of energy passing through the meter (kWh/Wh). For single-phase domestic electricity meters (e.g. the Elster A100c) each pulse usually equals one Wh (1000 pulses per kWh).&nbsp; With higher power meters (often three-phase), each pulse corresponds to a greater amount of energy e.g. 2, or even 10, Wh per pulse.&nbsp;</p>

<p>&nbsp;</p>

<h3>Example meter</h3>

<p><strong><a href="http://www.elstermetering.com/en/949.html">A100C BS Single Phase Meter</a></strong></p>

<p><img alt="" height="235" src="http://localhost/docs/files/a100c.png" width="300" /></p>

<h3>&nbsp;</h3>

<h3>What is a pulse?</h3>

<p><img alt="" height="143" src="http://localhost/docs/files/pulse.png" width="300" /></p>

<p><em>Figure 1</em></p>

<p>Figure 1 illustrates a pulse output. The pulse width T_high varies depending on the meter. Some pulse output meters allow T_high to be set. T_high remains constant during operation. For the A100c meter T_high is 50ms. The time between the pulses T_low is what indicates the power measured by the meter.&nbsp;</p>

<p><strong>Calculating Energy</strong><br />
For the A100c meter, each pulse represents 1/1000th of a kWh, i.e. 1 Wh, of energy passing through the meter.</p>

<p><strong>Calculating Power</strong><br />
3600 seconds per hour = 3600J per pulse i.e. 1 Wh = 3600J<br />
therefore, instantaneous power <strong>P = 3600 / T</strong> where T is the time between the falling edge of each pulse.&nbsp;</p>

<p>&nbsp;</p>

<h3><strong>Optical pulse counting: Flashing LEDs</strong></h3>

<p>Many electricity meters do not have pulse output connections or the connections are not accessible due to restrictions imposed by the utility company. All modern meters have an optical pulse output LED. In such cases an optical sensor can be used to interface with the meter.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>The red pulse-output LED can be seen in the A100c picture above. To detect the pulses from the LED, you need a light sensor. There is a wealth of documentation on the internet on using an Arduino to detect pulsed LED output.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li>An article by AirSensor: <a href="http://www.airsensor.co.uk/component/zoo/item/energy-monitor.html">Arduino Electricity Datalogger</a>&nbsp;which uses the&nbsp;TSL261 or TSL257 Light to Voltage sensor, Glyn has found the TSL257 Light to Voltage sensor to be best for detecting LED pulses from a&nbsp;Reporter 5193B meter (see notes on optical sensors below).</li>
</ul>

<ul>
	<li>An article by Eric Sandeen <a href="http://sandeen.net/wordpress/?p=227">Energy Monitor Proof of Concept</a>&nbsp;using an Axman photoreciever</li>
	<li>An article by Ken Boak: <a href="http://sustburbia.blogspot.com/2009/11/using-arduino-to-monitor-gas.html">Using an Arduino to measure gas consumption</a></li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Notes on optical sensors (results of initial tests)</strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<div style="margin: 0px; background-color: transparent;">A <a href="http://uk.farnell.com/taos/tsl257-lf/sensor-light-voltage-converter/dp/1226886?Ntt=TSL257">TLS257 light-to-voltage converter</a> connected directly to an Arduino digital input with a 10K pull down resistor was able to detect a light pulse from Reporter 5193B meter. TLS257 detects light in the visible range. Highly affected by ambient light. Need to good ambient light shielding around sensor. Sensor has the advantage of a built in op-amp to ensure good voltage swing and allow direct Arduino connection. Low cost &pound;1.31 (22/10/10).<br />
<br />
The <a href="http://uk.farnell.com/taos/tsl261r-lf/photodiode-sensor-l-volts/dp/1182350?whydiditmatch=rel_3&amp;matchedProduct=TSL261&amp;Ntt=TSL261">TLS261 photo diode </a>was also tested. Since this sensor is IR it is not affected as much by ambient light. Was able to detect pulses from a bright LED, but not from the Reporter 5193B meter.</div>

<p>&nbsp;</p>

<h3><strong>Wired / Switched output pulse detection</strong></h3>

<p>Many meters also have wired / switched pulse outputs.&nbsp;Many have connection diagrams similar to this one that comes with the A100c. The two smaller holes are the pulse output connections. I have added V<sub>in</sub> and V<sub>out</sub> labels to make it a little clearer. V<sub>in</sub> is provided by an external power supply. V<sub>out</sub> is the meter output created by toggling an internal solid state relay (like a switch between V<sub>in</sub> and V<sub>out</sub>)</p>

<p><img alt="" height="173" src="http://localhost/docs/files/a100conect.png" width="300" /></p>

<p><strong>Wired / Switched output supply voltage</strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>From what I understand, 24V is a fairly standard supply for such meter systems, but other voltages can usually be used. Meters often have a fairly wide pulse output supply voltage range of 3 to 35V. So the 5V supply from an Arduino could be used. Higher voltages are desirable when there is more noise in the environment and the cable runs are longer.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><b>Safety</b></p>

<p><strong>Watch out for mains connected pulse outputs:&nbsp;</strong>Make sure your meter&#39;s pulse output is not connected to the high voltage mains (within the meter). Some meters have one of the pulse output connectors connected to neutral. If your meter is one of these you will need isolation circuitry to interface with an Arduino.</p>

<p><strong>Live wire proximity:&nbsp;</strong>The pulse outputs are usually very close to live wires, so watch out for those too!</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Circuit</strong></p>

<p>Pulse output meter to Arduino connection diagram:</p>

<p><b><img alt="" height="206" src="http://localhost/docs/files/pocircuit.png" width="400" /></b></p>

<p>The 10k resistor keeps the digital input at GND (digital level 0) when the pulse output &#39;switch&#39; is open.&nbsp;</p>

<h3><b>Further reading</b></h3>

<p>Thanks to Jerry for the links and comment below.</p>

<p><a href="http://www.btinternet.com/~jon00/electmon.shtml">http://www.btinternet.com/~jon00/electmon.shtml</a></p>

<p><a href="http://www.arduino.cc/cgi-bin/yabb2/YaBB.pl?num=1276096046">http://www.arduino.cc/cgi-bin/yabb2/YaBB.pl?num=1276096046</a></p>

<p>Single optical pulse counting using a JeeNode board and a Hope RFM12 RF module:</p>

<p><a href="http://jeelabs.net/projects/cafe/wiki/Electricity_consumption_meter">http://jeelabs.net/projects/cafe/wiki/Electricity_consumption_meter</a></p>
