<h2>Electricity audit and savings case study</h2>
<p>The purpose of an electricity monitor is to help us use electricity as effectively or optimally as possible by measuring and giving us visual feedback on our use of electricity.</p>
<p>Our daily household electricity energy use is the sum of our individual appliances; their rate of power use and amount of time they are in use. Optimal electricity use is clearly achieved when we use efficient appliances that use the least amount of power &nbsp;for the given function that we want them to perform, we only use those appliances for the time needed.</p>
<p>The first useful exercise that is really worth doing once you have decided that optimal electricity use is your aim is to create a list of all the things that use electricity in your house, how many watts they use and very roughly how many hours they are used&nbsp;daily.</p>
<p>Here is an appliance list I made for our house:</p>
<p><img alt="" style="width: 600px; height: 611px; " src="http://lab.megni.co.uk/oemdocs/files/appliancelist2.png" /></p>
<p>Many appliances have their power ratings printed on them. These ratings are usually accurate in the case of lighting that is always on at a constant level, however they are often maximum ratings in the case of electronics (for example my laptop power supply is rated at twice the average power consumption of the laptop when in typical use).</p>
<p>This is the first place where an energy monitor can come in useful as you can use an energy monitor to cross-check or measure the actual in use electricity consumption of each of the items in the list where the power consumption is not clear.</p>
<p>So for all the lights I took their rated power as detailed on the light bulb. I then used the energy monitor to work out the wattage of the rest of the devices and appliances by turning them on and off to see the change in power or in the case of the immersion heater what a typical daily kWh consumption is directly. The fridge consumption was also calculated from the energy monitor, <em>see <a href="http://lab.megni.co.uk/oemdocs/node/785">measuring fridge consumption here.</a></em></p>
<h3><em>?</em>Past&nbsp;Savings</h3>
<p>Before going on to discuss further optimization potential, I would like to first discuss the savings that we have already made.</p>
<p>Over the last couple of years we have started the switch from incandescent light bulbs over to low energy CFL and LED light bulbs. Earlier this year got a new, smaller A rated fridge and we have been trying to only switch the immersion heater on directly when we need it before baths where it used to be left on most of the day. Here is the original electricity use picture:</p>
<p><img alt="" style="width: 600px; height: 611px; " src="http://lab.megni.co.uk/oemdocs/files/pastlist.png" /></p>
<p><strong>Past electricity stack</strong></p>
<p><img width="500" height="77" alt="" src="http://lab.megni.co.uk/oemdocs/files/past_stack.png" /></p>
<p><strong>Results of past savings</strong></p>
<p>Switching to low energy light bulbs may have reduced our lighting consumption&nbsp;from 2450 Wh to 832Wh almost a third of the original lighting electricity use. We've also been more carefully about switching off lights. In this example the technology switch action may have contributed to 1456 Wh of saving while turning off the lights may have resulted in a saving of around 162 Wh.</p>
<p>The fridge used to consume about 1.3 kWh a day. The new fridge consumes about 0.3 kWh a day, so over 4 times less energy for the same function.</p>
<p>I calculated <em>here</em> that leaving the immersion heater on all day might use 1.6 kWh per day just to maintain cylinder temperature. So switching off the immersion&nbsp;heater when not needed may have saved us another 1.6 kWh per day.</p>
<p><strong>Current electricity stack showing extent of savings:</strong></p>
<p><img width="500" height="77" alt="" src="http://lab.megni.co.uk/oemdocs/files/current_stack.png" /></p>
<p><strong>The total saving achieved may therefore be as much as 47%.</strong></p>
<h3>Can our electricity use be optimized further?</h3>
<p>We have still got quite a few incandescent lights that can be switched to low energy light bulbs, this could reduce lighting use from 832 Wh to 260 Wh, almost a whole 10x reduction on the original lighting consumption, which really goes to show how much better low energy lighting is.</p>
<p>It might be possible to optimize the use of the immersion heater a little further which could save another 350 Wh.</p>
<p><img alt="" style="width: 600px; height: 586px; " src="http://lab.megni.co.uk/oemdocs/files/futurelist.png" /></p>
<p><strong>Electricity stack after final optimisations:</strong></p>
<p><img width="500" height="77" alt="" src="http://lab.megni.co.uk/oemdocs/files/future_stack.png" /></p>
<p>So the answer is yes there is still potential room for further optimization and the total saving over the original consumption level could be as much as 57% which would be a considerable achievement.</p>
<p><strong>The action list</strong></p>
<ul>
    <li>?Switch&nbsp;cooking area light bulb to a low energy light bulb.</li>
    <li>?Switch end of table light bulb&nbsp;to a&nbsp; low energy light bulb.</li>
    <li>?Switch&nbsp;sitting room 2 to a low energy light bulb</li>
</ul>
<p>These 3 light bulbs should be prioritized&nbsp;as they will have the greatest effect as the other light bulbs are not used for as long.</p>
<ul>
    <li>Continue to investigate ways to optimize use of the immersion heater...&nbsp;</li>
    <li>Switch the remaining light bulbs.</li>
</ul>
<h2>Cross checking</h2>
<h3>How typical is the use figure as calculated in the model above?</h3>
<p>As I mentioned above the time that an appliance is on field is a very rough estimate, so a good question to ask is whether the above model resembles reality?</p>
<p>The following graph is created by applying the histogram input processor in emoncms to the house consumption input and visualizing the result using a visualization called &quot;thresholdorder&quot; which can be found (in dev branch) under the vis tab of emoncms.&nbsp;</p>
<p>In green is all energy consumed at below 250W, in yellow is all energy consumed at below 3000W and red is above 3000W. Allowing us to clearly see the contribution of the immersion heater to each days electricity consumption.&nbsp;</p>
<p>The graph is ordered by descending daily consumption.</p>
<p>I have highlighted in red a day that has the same daily consumption at calculated above and also a similar breakdown between heating and non heating electricity use.</p>
<p><em><img alt="" style="width: 600px; height: 278px; " src="http://lab.megni.co.uk/oemdocs/files/threshold.png" /></em></p>
<p>As you can see there is a wide spread of kWh per day readings from almost 9 kWh per day all the way down too half a kWh. This difference corresponds to difference in occupancy, &nbsp;seasons and general carefullness. There isnt really a typical day, however the model calculated kwh per day figure does correspond roughly to the average kWh per day figure which although not representative of most days allow us to gain enough insight as to help work out action points for further savings and optimisations.</p>