<h2>Further reading</h2>

<p>There is much detailed work that has been done showing how zero carbon energy systems can work, both in terms of real world deployment and detailed modeling of different energy scenarios. In particular we would like to highlight two very useful and informative works that provide a good foundation to this complex topic.</p>

<ul>
	<li>The first is the book <a href="http://withouthotair.com/">&#39;Sustainable Energy without the hot air&#39;</a> by David MacKay who highlights an approach using straight forward maths for quantifying our use of energy in full and then calculating how much renewables we would require to provide that energy, before and after large demand side changes such as electrification of transport and heating. This book is open source and free to read online <a href="http://withouthotair.com/">here</a>.<br />
	&nbsp;</li>
	<li>The second is the <a href="http://zerocarbonbritain.org/">ZeroCarbonBritain</a> report and in particular the underlying detailed 10 year hourly zero carbon energy model developed by the Centre for Alternative Technology - which is one of the more thorough and integrated zero carbon energy scenarios available for the UK. The energy model is open source and can be downloaded and explored <a href="http://zerocarbonbritain.org/energy_model/other/">here</a> (see original spreadsheet model).<br />
	&nbsp;</li>

	<li><a href="http://vimeo.com/album/2648454/video/81956917">Charlie Baker&#39;s talk about carbon coop and 80% retrofit at the radical emissions reduction conference</a><br></li>
	<li><a href="http://vimeo.com/album/2648454/video/81962195">Alice Hooker-Stroud, Centre for Alternative Technology, &lsquo;Zero Carbon Britain (Energy)&rsquo;</a><br></li>
	<li><a href="http://poptech.org/popcasts/saul_griffith_audits_energy_use">Saul Griffith&#39;s pop tech talk on sustainable energy</a><br></li>
	<li><a href="http://amateurearthling.org/2013/09/02/kevin-anderson-and-getting-to-2c/">Kevin Anderson&#39;s (from the tyndall center for climate change research) talk on the importance of cumulative emissions rather than 2050 targets</a><br></li>
</ul>

<p><strong>Amateur Earthling blog</strong>: <a href="http://amateurearthling.org/2012/10/30/climate-change-and-the-insurance-industry/">Climate Change and the Insurance Industry </a></p>

<p><a href="http://www.realclimate.org/">RealClimate.org: climate science by climate scientists</a></p>
