<h2>
	The Energy Stack Maker</h2>
<p><strong>Note: The energy stack maker has changed quite a bit since this page was written, it is now a cut down module in the new emoncms with a focus on getting the core stack building functionality working - group sharing and comparison will be added again in the future, with better sharing control and comparison tools.</strong></p>
<p>The energy stack maker is an open source web application for creating a visual way of framing the challenge of sustainable energy. The idea and energy stacks are based on David MacKay&#39;s book:&nbsp;<a href="http://www.withouthotair.com/">http://www.withouthotair.com/</a></p>
<div style="float:right; margin-left:20px; margin-top:3px;">
	<img alt="" src="http://localhost/docs/files/topa.png" style="width:400px" /></div>
<p>1) Fill out a single household energy audit, compare how your energy picture compares to the average UK household energy use and how what could be possible.</p>
<div style="clear:both;">
	&nbsp;</div>
<p>&nbsp;</p>
<div style="float:right; margin-left:20px; margin-top:20px;">
	<img alt="" src="http://localhost/docs/files/groupview.png" style="width:400px" /></div>
<h3>
	Energy comparison and group features</h3>
<p>2) Aggregate data from each household to create a group view:</p>
<div style="clear:both;">
	&nbsp;</div>
<p>&nbsp;</p>
<div style="float:right; margin-left:20px; margin-top:3px;">
	<img alt="" src="http://localhost/docs/files/group_current.png" style="width:400px" /></div>
<p>3) Explore how group scenario is built up of individual households contribution:</p>
<div style="clear:both;">
	&nbsp;</div>
<p>&nbsp;</p>
<div style="float:right; margin-left:20px; margin-top:20px;">
	<img alt="" src="http://localhost/docs/files/future_scenario.png" style="width:400px" /></div>
<h3>
	Explore future energy scenarios</h3>
<p>See the effect of switching to electric cars, heatpumps etc on real household data from your group:</p>
<div style="clear:both;">
	&nbsp;</div>
<h3>
	Open source</h3>
<p>Then energy stack maker an open source web application written in php and javascript, it uses the same base php code as emoncms and so can be integrated with relative ease to create an application that combines real-time energy monitor based data visualisation and the wider context of energy via the energy stacks</p>
<p>Download the source from github:</p>
<p>New version&nbsp;https://github.com/emoncms/energy</p>
<p><strong>Very old version</strong> https://github.com/openenergymonitor/CommunityEnergyPlanMaker</p>
<p>Try it out: http://emoncms.org/energy/list</p>
