<p><strong>About</strong></p>

<p>OpenEnergyMonitor project was founded out of a desire for <a href="http://lab.megni.co.uk/oemdocs/opensustech">open-source tools </a>to help us understand and relate to our use of energy, our energy systems and the challenge of sustainable energy.</p>

<p><strong>Zero Carbon or Sustainable Energy</strong></p>

<p>There is much detailed work that has been done showing how zero carbon energy systems can work, both in terms of real world deployment and detailed modeling of different energy scenarios. In particular we would like to highlight two very useful and informative works that provide a good foundation to this complex topic.</p>

<ul>
	<li>The first is the book <a href="http://withouthotair.com/">&#39;Sustainable Energy without the hot air&#39;</a> by David MacKay who highlights an approach using straight forward maths for quantifying our use of energy in full and then calculating how much renewables we would require to provide that energy, before and after large demand side changes such as electrification of transport and heating. This book is open source and free to read online <a href="http://withouthotair.com/">here</a>.<br />
	&nbsp;</li>
	<li>The second is the <a href="http://zerocarbonbritain.org/">ZeroCarbonBritain</a> report and in particular the underlying detailed 10 year hourly zero carbon energy model developed by the Centre for Alternative Technology - which is one of the more thorough and integrated zero carbon energy scenarios available for the UK. The energy model is open source and can be downloaded and explored <a href="http://zerocarbonbritain.org/energy_model/other/">here</a> (see original spreadsheet model).</li>
</ul>

<p>More recently we took a more in depth look at the ZeroCarbonBritain model and have published an online tool that provides an overview of energy use in the uk and many of the main zero carbon energy solutions before going on to then explore components of the ZeroCarbonBritain model in more detail; with a 10 year hourly energy model that can be run in an internet browser:</p>

<p>Click on the picture to launch the tool, or open <a href="http://openenergymonitor.org/energymodel">http://openenergymonitor.org/energymodel</a></p>

<p><a href="http://openenergymonitor.org/energymodel/#introduction"><img alt="" src="http://lab.megni.co.uk/oemdocs/files/energycontext.png" style="width: 720px; height: 462px; border-width: 2px; border-style: solid;" /></a></p>

<p>For more energy modeling and energy context tools see Resources &gt; <a href="http://lab.megni.co.uk/oemdocs/energymodeling">Energy Modeling</a></p>

<p><strong>OpenEnergyMonitor</strong></p>

<p><strong>Note: We are currently working on rebuilding this section to bring it up to date with more recent developments, please check back soon for a new and improved version.</strong></p>

<h3>Electricity assessment and monitoring<img alt="" src=" 	 http://lab.megni.co.uk/oemdocs/files/mobile-electric.png" style="width: 90px; height: 174px; float: right; margin-left: 10px; margin-right: 10px;" /></h3>

<p class="rteindent1"><strong>Realtime monitoring: </strong><a href="http://lab.megni.co.uk/oemdocs/Overview">Build an electricity monitoring system that provides detail information on electricity consumption.</a></p>

<p class="rteindent1">The appliance list exercise outlined in the <a href="http://lab.megni.co.uk/oemdocs/sustainable-energy/electricity-audit-and-savings-case-study">Electricity audit and savings case study</a> is a useful way to answer questions such as, how much electricity can be saved by using low energy lighting such as LED&#39;s? How much electricity is saved by turning off lighting when not in use?</p>

<p class="rteindent1">&nbsp;</p>

<h3>Whole house assessment including building fabric and heating</h3>

<p class="rteindent1">Carry out a full energy performance assessment of your house using <a href="https://github.com/emoncms/MyHomeEnergyPlanner">MyHomeEnergyPlanner</a> an open source implementation of the UK&#39;s standard energy performance assessment procedure for domestic dwellings (SAP 2012). We have been working on this online SAP calculator in collaboration with carbon coop who will be using it as part of their retrofit assessment tool. Learn more about carbon coop <a href="http://openenergymonitor.blogspot.co.uk/2013/05/carbon-coop.html">here.</a></p>

<p class="rteindent1"><strong>Real-time monitoring: </strong>Use real time temperature and heat input monitoring coupled with a dynamic building model to measure the heat loss rate of a building in order to cross check the theoretical figure derived in the MyHomeEnergyPlanner SAP calculation.</p>

<h3>Performance monitoring of installed measures</h3>

<ul>
	<li><a href="http://lab.megni.co.uk/oemdocs/applications/solarpv">Solar PV Monitoring</a></li>
	<li><a href="http://lab.megni.co.uk/oemdocs/applications/heatpump">Heatpump monitoring</a></li>
	<li><a href="http://lab.megni.co.uk/oemdocs/applications/shw">Solar Hot Water control and monitoring</a></li>
	<li><strong>Hot water cylinder analysis: </strong><a href="http://harizanov.com/2012/05/measuring-the-solar-yield/?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=measuring-the-solar-yield">Measuring the solar yield</a>,&nbsp;<a href="http://openenergymonitor.blogspot.com/2012/05/measurement-of-heat-loss-in-hot-water.html">Measurement of heat loss in a hot water cylinder</a>,&nbsp;<a href="http://openenergymonitor.blogspot.com/2012/05/measuring-heat-flux-in-and-out-of-hot.html">Measuring heat flux in and out of a hot water cylinder</a></li>
</ul>

<p>&nbsp;</p>

<h3>Links of further interest</h3>

<p><a href="http://lab.megni.co.uk/oemdocs/node/3708">UK Energy use context (2008)</a></p>

<p><strong>Talks</strong></p>

<ul>
	<li><a href="http://vimeo.com/album/2648454/video/81956917">Charlie Baker&#39;s talk about carbon coop and 80% retrofit at the radical emissions reduction conference</a></li>
	<li><a href="http://vimeo.com/album/2648454/video/81962195">Alice Hooker-Stroud, Centre for Alternative Technology, &lsquo;Zero Carbon Britain (Energy)&rsquo;</a></li>
	<li><a href="http://poptech.org/popcasts/saul_griffith_audits_energy_use">Saul Griffith&#39;s pop tech talk on sustainable energy</a></li>
	<li><a href="http://amateurearthling.org/2013/09/02/kevin-anderson-and-getting-to-2c/">Kevin Anderson&#39;s (from the tyndall center for climate change research) talk on the importance of cumulative emissions rather than 2050 targets</a></li>
</ul>

<p><strong>Amateur Earthling blog</strong>: <a href="http://amateurearthling.org/2012/10/30/climate-change-and-the-insurance-industry/">Climate Change and the Insurance Industry </a></p>

<p><a href="http://www.realclimate.org/">RealClimate.org: climate science by climate scientists</a></p>
