<h1>
	UK Energy use context 2012</h1>
<p>This page is a work in progress</p>
<p>Figures based on uk energy statistics documents available here <a href="https://www.gov.uk/government/publications/energy-consumption-in-the-uk">https://www.gov.uk/government/publications/energy-consumption-in-the-uk</a></p>
<p><img alt="" src="http://localhost/docs/files/stacks2012_01.png" style="width: 399px; height: 350px; float: right;" /><strong>1: </strong>Total energy use per person in the Britain.</p>
<p><strong>2: </strong>Energy use divided up into primary sectors plus losses.</p>
<p><strong>3: </strong>Losses and transport reallocated to domestic, services and industry use.</p>
<p><strong>4: </strong>Breakdown by end use type</p>
<p>&nbsp;</p>
<p><em>Data sources:</em></p>
<p><em><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/238793/overall.xls">https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/238793/overall.xls</a></em></p>
<p><em><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/244326/transport.xls">https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/244326/transport.xls</a></em></p>
<p><em>Source code for stack graphic can be downloaded here: <a href="http://http://localhost/docs/files/stack03.txt">stack03.txt</a> (rename file extension to .html)</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>
	<img alt="" src="http://localhost/docs/files/stacks2012_02.png" style="width: 250px; height: 350px; float: right;" />Energy used for each sector broken down by type of use</h3>
<p><strong>Left: </strong>Energy used in the service sector</p>
<p><strong>Center: </strong>Energy used in the industrial sector</p>
<p><strong>Right: </strong>Energy used in the domestic sector</p>
<p>&nbsp;</p>
<p><em>Data sources:</em></p>
<p><em><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/238793/overall.xls">https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/238793/overall.xls</a></em></p>
<p><em><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/244326/transport.xls">https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/244326/transport.xls</a></em></p>
<p><em>Source code for stack graphic can be downloaded here: <a href="http://http://localhost/docs/files/stack04.txt">stack04.txt</a> (rename file extension to .html)</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<pre>
Space heating (end use) accounts for 19.5% of total primary energy or 28.6% 
of end use energy.

Building services (space heating, water heating, lighting &amp; appliances and cooking) 
make up 30% of total primary energy or 44.1% of end use energy.

Transport (end use) accounts for 26.3% of total primary energy or 38.5% of end use
energy.

The sources of non transport losses are:<em> Losses in distribution: 5%, 
Used by energy industry: 23%, <em>Thermal power station losses</em>: 72%</em></pre>
<h1>
	Solutions</h1>
<p>The following highlights some of the main solutions that significantly increasing the efficiency of our energy use so that the remaining energy demand can be provided by sustainable energy sources. For a more thorough analysis see in depth calculators such as the DECC 2050 calculator and CAT&#39;s Zero Carbon Britain report.</p>
<h3>
	Better building fabric and better heating<a href="http://localhost/docs/files/Screenshot from 2013-09-18 13-16-57.png"><img alt="" src="http://localhost/docs/files/Screenshot from 2013-09-18 13-16-57.png" style="float: right; width: 200px; height: 128px; border-width: 1px; border-style: solid; margin-left: 5px; margin-right: 5px;" /></a></h3>
<p><strong>An average house now</strong><br />
	Floor area: 85m2<br />
	Space heating demand: 12284 kWh/year<br />
	Space heating demand per m2: 145kWh/m2.year<br />
	Primary energy demand:<br />
	Primary energy demand per m2: 335 kWh/m2.year</p>
<p><strong>The state of the art: passivehaus: 90% less energy</strong><br />
	Space heating demand per m2: 15 kWh/m2.year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 90% reduction on 2012 average house<br />
	Space heating demand per m2 (retrofit): 25 kWh/m2.year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 85% reduction on 2012 average house<br />
	Primary energy demand per m2: 120 kWh/m2.year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 64% reduction on 2012 average house</p>
<p><em>CAT&#39;s Zero Carbon Britain scenario applies an average space heating demand reduction of 50-60% taking into account the variation and complexity of the housing stock.</em></p>
<p>To calculate the energy savings potential of your own house you can use the SAP 2012 building energy model available here: <a href="http://emoncms.org/user/login">http://emoncms.org/user/login</a> (Navigate to Extras &gt; OpenBEM)</p>
<p><strong>Sustainable heating </strong><strong>systems</strong><br />
	There are two main types of sustainable heating systems: heatpumps powered by sustainable electricity and biomass from well managed forests. A well designed* heatpump installation can deliver 3-4 units of heat output for every 1 unit of electrical input. A heatpump powered by renewables requires 66% (2/3rds) less primary energy than other heating systems.</p>
<p>A house that starts with a space heating demand of 40 kWh/d achieves a 70% reduction in space heating energy demand through better insulation and draught proofing, the new space heating demand is 12 kWh/d. This could then be supplied by a heatpump requiring just 4 kWh/d of primary energy demand from renewable sources. A total energy saving of 90%.</p>
<h3>
	Better transport</h3>
<p><strong>Electric cars: 81% less energy</strong><img alt="" src="http://localhost/docs/files/tesla.jpg" style="width: 200px; height: 108px; float: right; border-width: 1px; border-style: solid; margin-left: 5px; margin-right: 5px;" /><br />
	Amazing efficiency gains are also possible in transportation. A typical petrol car uses around 80 kWh to travel 100km [ref]. An electric car such as the tesla roadster uses only a fraction of this amount to travel the same distance around: 15 kWh per 100km [ref], which gives us a potential 81% reduction in energy demand potential for personal transportation.</p>
<p><br />
	<strong>Electric trains: 93% less energy</strong><br />
	For longer distances such as a trip climbing or skiing to the Alps from the UK. A very normal looking electric train when full consumes only 1.6 kWh per 100 passenger-km [ref], average rail transport may be closer to 6kWh per 100 passenger-km [ref]. At 6kWh per 100 passenger-km taking the train requires 93% less energy than the same journey by car with one occupant and an electric train can be powered directly from renewable electricity as its directly linked to the electric grid by the overhead wires.</p>
<p>An other important aspect of sustainable transport is reducing the need for transport in the first place or reducing the number of miles that we need to travel. The internet and associated web technologies makes it easier to work remotely reducing the need to commute as regularly. And linked in with our decisions on building design is building location and wider questions of planning. Things like the distance between housing, work and amenities and how walkable/bikeable the area is.</p>
<h3>
	Incredible potential gains in efficiency</h3>
<p>Almost 70% of the uk&#39;s end use energy requirements are for space heating and transport and for these two large uses of energy there exists solutions that can achieve upwards of 80% energy reductions with no reduction in comfort or transportation amount.</p>
<h3>
	Better manufacturing</h3>
<p>The energy required for manufacturing and the available solutions are perhaps more complex than those available to building energy demand and transport. One of the most popular books on improving manufacturing is the book Cradle to Crade by Michael Braungart and William McDonough who argue for a fully cyclic material resource stream and give numerous real world examples of positive outcomes from cradle to cradle thinking applied.</p>
<h3>
	Powering up with renewable energy</h3>
<p><img alt="" src="http://localhost/docs/files/stack_zcb.png" style="width: 198px; height: 350px; float: left;" />The remaining primary energy requirement after the large energy reductions from better building fabric, heating systems and transport are applied can then be provided by renewable energy. The <a href="http://www.zcb2030.org/index.php/report">Zero Carbon Britain report from the Center for Alternative Technology</a> goes into depth on how this can be done and is well worth a read. The Zero Carbon Britain report also look in detail at the needs for energy storage and demand management at different timescales.</p>
<p>The energy stack on the right shows the resultant Zero Carbon Britain scenario compared with the 2012 national energy statistics stack divided by end use as above.</p>
<p>The efficiency improvements made possible by better buildings and transport are clear to see.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>One of the clear things from the above energy analysis is that we have a great amount of power over our energy future. If we all apply these solutions at home and in our workplace&#39;s with an eye to how it links to the big picture then the sum of all our individual actions can achieve the transformation to our energy system that is needed.</p>
