<h1>
	UK Energy use context 2008</h1>
<h2>
	Different ways of looking at our energy use</h2>
<p><img alt="" src="http://lab.megni.co.uk/oemdocs/files/view01.png" style="width: 250px; height: 343px; float: right;" /> <strong>Left: </strong>Total energy use per person in the Britain.<br />
	<br />
	<strong>Center: </strong>Energy use divided up into primary sectors plus losses.<br />
	<br />
	<strong>Right: </strong>Losses and transport reallocated to domestic, services and industry use</p>
<p><em>Download stack drawing javascript code for graphic<br />
	<a href="http://lab.megni.co.uk/oemdocs/files/stack01.txt">stack01.txt</a>&nbsp; (rename to .html extention)</em><br />
	&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>
	Energy used for each sector broken down by type of use</h2>
<p><br />
	<img alt="" src="http://lab.megni.co.uk/oemdocs/files/view02.png" style="width: 250px; float: right; height: 381px;" /><strong>Left: </strong>Energy used in the service sector<br />
	<br />
	Center: Energy used in the industrial sector<br />
	<br />
	<strong>Right: </strong>Energy used in the domestic sector</p>
<p>Download stack drawing javascript code for graphic<br />
	<a href="http://lab.megni.co.uk/oemdocs/files/stack02.txt">stack02.txt</a>&nbsp; (rename to .html extention)</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>
	Energy required to make stuff</h2>
<p>One thing that the energy breakdown&#39;s above have not included is the energy required to make the stuff that we import. David MacKay has an interesting section on this in his book. He comes up with a rough figure of 48 kWh/d per person. He references several studies that have come to similar conclusions.<br />
	<br />
	The energy used in industry and the energy embodied in imported stuff minus exports would equate to the energy that we use to make our stuff.<br />
	<br />
	Energy in industry + imports = 84 kWh/d per person<br />
	Which compares to 82 kWh/d used in the domestic and service sectors as a whole.<br />
	<br />
	David MacKay: <a href="http://www.inference.phy.cam.ac.uk/withouthotair/c15/page_94.shtml">Stuff</a>, <a href="http://www.inference.phy.cam.ac.uk/withouthotair/cH/page_322.shtml">stuff 2</a></p>
<h2>
	<br />
	Data sources and working out</h2>
<p>The energy consumption figures I have used are for 2008. I have done this for two main reason:</p>
<ol>
	<li>
		There is more data available for 2008 such as:<em>&nbsp;Table 1.14: Overall energy consumption for heat and other end uses by fuel 2008</em></li>
	<li>
		2009 sees a dip in energy use due to the recession and could be seen as an artificially low baseline? It is interesting to note however that total energy consumption has been decreasing since its peak in 2001 of 236.3 million tonnes of oil equivalent. The 2009 value was 211.2 million tonnes of oil equivalent.</li>
</ol>
<h3>
	1) Stack 1: Overall energy use</h3>
<p><strong>See:&nbsp;</strong><a href="http://www.decc.gov.uk/en/content/cms/statistics/publications/ecuk/ecuk.aspx" style="color: rgb(2, 122, 198); text-decoration: none; ">266-ecuk-overall-2010.xls</a>&nbsp;table 1.1 B45</p>
<ul>
	<li>
		225.4 million tonnes of oil equivalent</li>
	<li>
		<strong>117.2 kWh per day per person</strong></li>
</ul>
<h3>
	2) Stack 2: By primary sectors (loss contribution calculated in step 4)</h3>
<p><strong>See:&nbsp;</strong><a href="http://www.decc.gov.uk/en/content/cms/statistics/publications/ecuk/ecuk.aspx" style="color: rgb(2, 122, 198); text-decoration: none; ">266-ecuk-overall-2010.xls</a></p>
<p>Table 1.4: Final energy consumption by end user 1970 to 2009</p>
<table>
	<tbody>
		<tr>
			<th>
				&nbsp;</th>
			<th>
				Industry</th>
			<th>
				Transport</th>
			<th>
				Domestic</th>
			<th>
				Other final users</th>
			<th>
				All final users</th>
		</tr>
		<tr>
			<td>
				2008</td>
			<td>
				30,751</td>
			<td>
				58,874</td>
			<td>
				46,003</td>
			<td>
				18,699</td>
			<td>
				154,326</td>
		</tr>
		<tr>
			<td>
				converted:</td>
			<td>
				16.0</td>
			<td>
				30.6</td>
			<td>
				23.9</td>
			<td>
				9.7</td>
			<td>
				80.2</td>
		</tr>
	</tbody>
</table>
<h3>
	3) Stack 3: Transport by domestic, industrial and service sectors</h3>
<p><strong>See: </strong>268-ecuk-transport-2010.xls</p>
<p>Table 2.11: Transport energy consumption re-allocated to domestic, industrial and service sectors 1990 to 2008</p>
<table>
	<tbody>
		<tr>
			<th>
				&nbsp;</th>
			<th>
				Industry</th>
			<th>
				Domestic</th>
			<th>
				Services</th>
			<th>
				Total</th>
			<th>
				&nbsp;</th>
		</tr>
		<tr>
			<td>
				2008</td>
			<td>
				14.3</td>
			<td>
				37.7</td>
			<td>
				6.9</td>
			<td>
				58.9</td>
			<td>
				million tonnes of oil equivalent</td>
		</tr>
		<tr>
			<td>
				converted:</td>
			<td>
				7.4</td>
			<td>
				19.6</td>
			<td>
				3.6</td>
			<td>
				30.6</td>
			<td>
				kWh per day per person</td>
		</tr>
		<tr>
			<td>
				percentage:</td>
			<td>
				24%</td>
			<td>
				64%</td>
			<td>
				12%</td>
			<td>
				100%</td>
			<td>
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<h3>
	4) Energy losses</h3>
<p><strong>See:</strong>&nbsp;<a href="http://www.decc.gov.uk/en/content/cms/statistics/publications/ecuk/ecuk.aspx" style="color: rgb(2, 122, 198); text-decoration: none; ">266-ecuk-overall-2010.xls</a></p>
<p>Calculating energy loss in 2008:&nbsp;225.4 &ndash; 154.3 = 71.1 = 32%</p>
<p><strong>Energy loss per sector</strong></p>
<table>
	<tbody>
		<tr>
			<th>
				&nbsp;</th>
			<th>
				Industry</th>
			<th>
				Transport</th>
			<th>
				Domestic</th>
			<th>
				Services</th>
			<th>
				Total</th>
		</tr>
		<tr>
			<td>
				2009 (Mtoe)</td>
			<td>
				20.1</td>
			<td>
				5.7</td>
			<td>
				24.4</td>
			<td>
				17.1</td>
			<td>
				67.3</td>
		</tr>
		<tr>
			<td>
				converted: (kWh/d)</td>
			<td>
				10.5</td>
			<td>
				3.0</td>
			<td>
				12.7</td>
			<td>
				8.9</td>
			<td>
				35.0</td>
		</tr>
	</tbody>
</table>
<p>Loss breakdown is not available for 2008 so here I will try to estimate based on loss breakdown in 2009.</p>
<p>Losses in 2008 where 71.1 million tonnes of oil equivalent and so an approximate breakdown of energy loss per sector could be calculated by scaling the 2009 figures by 1.056 to bring the total up to 71.1. Here are my estimated figures for 2008 based on this method:</p>
<table>
	<tbody>
		<tr>
			<td>
				2008 (estimated, kWh/d)</td>
			<td>
				11.1</td>
			<td>
				<strong>3.2 (divided again below)</strong></td>
			<td>
				13.4</td>
			<td>
				9.4</td>
			<td>
				37.0</td>
		</tr>
	</tbody>
</table>
<p>The transport loss could also be divided by sector:</p>
<pre>
Industry 24% of 3.2 = 0.8
Domestic 64% of 3.2 = 2.0
Services 12% of 3.2 = 0.4</pre>
<h3>
	Additional data on energy loss</h3>
<p>Some interesting figures for understanding losses:</p>
<p><a href="http://www.decc.gov.uk/en/content/cms/statistics/publications/flow/flow.aspx">Energy loss division by source in the DECC energy flow chart 2008</a></p>
<table>
	<tbody>
		<tr>
			<td>
				<strong>Total primary use</strong></td>
			<td>
				225.4</td>
		</tr>
		<tr>
			<td>
				<strong>Conversion losses</strong></td>
			<td>
				51.6 Mtoe</td>
			<td>
				<strong>23%</strong></td>
		</tr>
		<tr>
			<td>
				<strong>Energy industry use and distribution</strong></td>
			<td>
				17.7 Mtoe</td>
			<td>
				<strong>7.8% </strong></td>
		</tr>
		<tr>
			<td>
				<strong>Total</strong></td>
			<td>
				69.3 Mtoe</td>
			<td>
				<strong>31%</strong></td>
		</tr>
	</tbody>
</table>
<p>Although this publication is from 2005 it helps to clarify division of energy industry use and distribution losses.</p>
<pre>
<strong>Losses in distribution: 1.5%
Used by energy industry: 7%
Net inputs for conversion: 22%</strong></pre>
<p>See chart 1.2 on page 3 <a href="http://www.decc.gov.uk/assets/decc/statistics/publications/dukes/dukes06.pdf">Dukes06</a></p>
<p>It is important to note the distribution loss of 1.5% which is significantly smaller than both conversion losses and energy industry losses.&nbsp;</p>
<p><a href="http://www.nationalgrid.com/NR/rdonlyres/4D65944B-DE42-4FF4-88DF-BC6A81EFA09B/26920/ElectricityTransmissionLossesReport1.pdf">An investigation into electrical transmittion losses in UK</a>:&nbsp;&nbsp;6.9 TWh for 2008/2009.&nbsp;Or converted to a more understandable value: <strong>0.3 kWh/d per person.</strong></p>
<p>The energy flow chart for 2008 is also informative: <a href="http://www.decc.gov.uk/media/viewfile.ashx?filetype=4&amp;filepath=Statistics/publications/flow/76-flowchart2008.pdf&amp;minwidth=true">Energy flow chart 2008&nbsp;</a>:</p>
<p>32.1 Mtoe electrical generation (16.6 kWh/d),&nbsp;4.6 Mtoe losses by energy industry and distribution (2.4 kWh/d).</p>
<p>Subtracting the investigations figure for electrical transmittion losses of 0.3 kWh/d = 2.4 - 0.3 = 2.1 kWh/d energy industry losses.</p>
<p>It is interesting to note that the electrical losses are substantal at about 13% of generated electricity however the distribution part of this is 1.5%</p>
<h3>
	What is energy industry use of energy?</h3>
<p><a href="http://www.decc.gov.uk/assets/decc/statistics/source/total/367-energy-balance-statistics-methodology.pdf">DECC Energy balance statistics methodology PDF</a></p>
<p><em>Energy industry use is consumption by both extraction and transformation&nbsp;industries to support the transformation process (but not for transformation itself).&nbsp;</em><em>Typical examples are the consumption of electricity in power plants (eg for lighting,&nbsp;compressors and cooling systems) and the use of extracted gases on oil and gas&nbsp;platforms for compressors, pumps and other uses. The headings in this section are&nbsp;identical to those used in the transformation section with the exception of Pumped&nbsp;storage which reports on the electricity used to pump water to the reservoir.</em></p>
<h3>
	Combining the figures above to give an overall breakdown by domestic, service and industry sectors:</h3>
<table>
	<tbody>
		<tr>
			<td>
				&nbsp;</td>
			<td>
				<strong>Industry</strong></td>
			<td>
				<strong>Domestic</strong></td>
			<td>
				<strong>Services</strong></td>
		</tr>
		<tr>
			<td>
				Use</td>
			<td>
				16.0</td>
			<td>
				23.9</td>
			<td>
				9.7</td>
		</tr>
		<tr>
			<td>
				Transport</td>
			<td>
				7.4</td>
			<td>
				19.6</td>
			<td>
				3.6</td>
		</tr>
		<tr>
			<td>
				losses</td>
			<td>
				11.1</td>
			<td>
				13.4</td>
			<td>
				9.4</td>
		</tr>
		<tr>
			<td>
				Transport losses</td>
			<td>
				0.8</td>
			<td>
				2.0</td>
			<td>
				0.4</td>
		</tr>
		<tr>
			<td>
				<strong>TOTAL</strong></td>
			<td>
				<strong>35.3</strong></td>
			<td>
				<strong>58.9</strong></td>
			<td>
				<strong>23.1</strong></td>
		</tr>
	</tbody>
</table>
<p>&nbsp;</p>
<h2>
	Calculating kWh/d per person from tonnes of oil equivalent</h2>
<div>
	Many of DECC&#39;s statistics are in millions or thousands of tonnes of oil equivalent. I have converted these quantities into kWh/d/per person as I find I can relate to this unit better. If your interested in doing the same maybe to check up on my figures, this is how I did it:</div>
<div>
	&nbsp;</div>
<div>
	Lets convert the 2008 total primary energy value, table 1.1, cell B45 from <a href="http://www.decc.gov.uk/en/content/cms/statistics/publications/ecuk/ecuk.aspx">DECC&#39;s overall energy spreadsheet.</a></div>
<div>
	&nbsp;</div>
<div>
	Total primary energy consumption 2008 = 225.4 million tonnes of oil equivalent</div>
<div>
	&nbsp;</div>
<div>
	<strong>1) </strong>Lets start by creating a conversion factor to convert 1 million tonnes of oil equivalent/year into kWh/d/per person (in the UK)</div>
<div>
	&nbsp;</div>
<div>
	1 ton of oil equivalent = 11,630 kWh</div>
<div>
	<a href="http://www.decc.gov.uk/en/content/cms/statistics/source/notes/notes.aspx">http://www.decc.gov.uk/en/content/cms/statistics/source/notes/notes.aspx</a></div>
<div>
	&nbsp;</div>
<div>
	1 million tonnes of oil equivalent = 11630000000 kWh</div>
<div>
	&nbsp;</div>
<div>
	There are &nbsp;61,858,000 people in the UK (DECC domestic, table 3.3)</div>
<div>
	&nbsp;</div>
<div>
	We can therefore calculate kWh per person consumed in the UK for every million tonnes of oil equivalent consumed:</div>
<div>
	&nbsp;</div>
<div>
	kWh per person = 11630000000 kWh / &nbsp;61,383,000 = 189.47kWh per person per million tonnes of oil</div>
<div>
	&nbsp;</div>
<div>
	To find kWh per day divide this figure by 365: 189.47kWh/year / 365 = 0.52 kWh/d per person per million tonnes of oil</div>
<div>
	&nbsp;</div>
<div>
	<strong>2) </strong>And so 225.4 million tonnes of oil equivalent is equivalent too: 225.4 x 0.52 = 117 kWh/d per person (in the UK)</div>
<div>
	&nbsp;</div>
<div>
	<strong>Important factors</strong></div>
<div>
	Million tonnes of oil equivalent to kWh/d/per person (UK)<span class="Apple-tab-span" style="white-space:pre"> </span>0.52</div>
<div>
	Thousand tonnes of oil equivalent to kWh/d/per person (UK)<span class="Apple-tab-span" style="white-space:pre"> </span>0.00052</div>
