<h2>Using KST for graphing</h2>

<p>KST is a useful desktop program available on Linux and Windows for graphing and data analysis of CSV data. It can be used to graph the output of OpenEnergyMonitor hardware connected directly via serial, the following guide details how to set this up with an emontx running standard firmware.</p>

<p><i>&quot;Kst is the fastest real-time large-dataset viewing and plotting tool available and has basic data analysis functionality. Kst contains many powerful built-in features and is expandable with plugins and extensions. Extensive help is available, both from within kst and on the web. Kst is a KDE application and is freely available for anyone to download and use.&quot;</i> - KST Website</p>

<p><img alt="" height="370" src="http://localhost/docs/files/KST02_0.png" width="600" /></p>

<h3>1. KST Installation</h3>

<p><b>Ubuntu:</b><br>
In a terminal window type: <em>sudo apt-get install kst</em></p>

<p><b>Windows:</b><br>

If you&#39;re a windows user, KST can be downloaded <a href="https://sourceforge.net/projects/kst/files/latest/download?source=files">here</a></p>

<h3>2. Python serial reader to CSV file</h3>

<p>Save the following program to a file, lets call it: serial_to_csv.py</p> 

<pre>
#!/usr/bin/python

import serial, sys, string
ser = serial.Serial('/dev/ttyUSB0', 9600)

while 1:

  # Read in line of readings from emontx serial
  linestr = ser.readline()

  # Remove the new line at the end
  # linestr = linestr.rstrip()
  
  # Replace space with comma for CSV
  linestr.replace(" ",",")
  
  # Append line to file
  with open("mydata.csv", "a") as myfile:
    myfile.write(linestr)

  # Output line to terminal window
  print linestr
  
</pre>

<h3>Run</h3>

<ol>
  <li>With a OpenEnergyMonitor node connected via USB to serial cable.<br>Run serial_to_csv.py with: <b>python serial_to_csv.py</b></li>
  <li>Open KST, either by clicking on a launcher or typing <b>KST</b> in terminal.</li>
  <li>Once open click on the data wizard icon. Select the <b>mydata.csv</b></li>
  <li>Move all available data fields to the selected data field box by clicking the right arrow.</li>
	<li>Click on the <b>Next</b> button, and again, then click <b>Finish</b></li>
	<li>You should see several graphs as in the picture above and they should be updating in real time.</li>
	<li>To get KST to calculate and display useful stats like Standard Deviation, Mean, etc:<br>Click on the text label then select from the <b>insert scalar in label</b> drop down box.</li>
</ol>


