<h2>Diverting surplus PV Power, by Robin Emley</h2>

<p style="float: left"><a href="pvmeasurement">&lt;&lt; 2: Detection and Measurement of surplus PV</a></p>

<p style="float: right"><a href="switchdev">4: Switching High Current Loads using a Triac &gt;&gt;</a></p>

<h3 style="clear: both">3: Diversion and Use of surplus PV</h3>

<p>Various schemes for storing surplus energy are possible, including the charging of batteries. For most users, however, the most practical use for any surplus PV energy is to heat their Domestic Hot Water using an immersion heater. [This arrangement is not directly suitable for households where hot-water is supplied by an instant boiler, such as a &ldquo;combi&rdquo;. In such cases, some other means of making effective use of surplus PV energy would need to be devised.]</p>

<p>A typical immersion heater is rated at 3&nbsp;kW. Surplus PV will be generally be less than this, so it is necessary for the dump load to be on for only some of the time. With power being rationed in this way, the water in the tank will still get hot but at a proportionately slower rate.</p>

<p>To consume a variable amount of surplus PV energy, power to the dump load needs to be cycled on and off as necessary in order to maintain an accurate balance between import and export. When power is cycled in this way, the effect on the supply meter needs to be considered.</p>

<p>All supply meters allow a certain range within which energy can flow freely in either direction. The extent of this range is typically 1&nbsp;Wh or 3600&nbsp;Joules. Providing that the net flow of energy into or out of the premises never exceeds this value, there will be no charge to the user nor will any surplus energy be lost. We call this the &ldquo;sweet zone&rdquo;, and the capacity of the energy bucket in all Mk2 PV Router systems to date has been set to 3600&nbsp;J to match. Any system that diverts power needs to be able to operate reliably within this zone, and in order to do this, power to the dump load needs to be switched on and off at precisely defined times. The switching device that is normally used for this is a triac.</p>

<p><img alt="Diagram illustrating how energy is diverted" height="330" src="/emon/sites/default/files/energyflow.png" width="660" /></p>

<p><strong>Further reading</strong></p>

<p><a href="/emon/buildingblocks/meters">Building Blocks - Energy Meters</a></p>

<p style="float: left"><a href="pvmeasurement">&lt;&lt; 2: Detection and Measurement of surplus PV</a></p>

<p style="float: right"><a href="switchdev">4: Switching High Current Loads using a Triac &gt;&gt;</a></p>

<p style="clear: both">&nbsp;</p>
