<h2>Diverting surplus PV Power, by Robin Emley</h2>

<p style="float: left"><a href="intro">&lt;&lt; 1: Introduction, and &ldquo;Power&rdquo; v. &ldquo;Energy&rdquo;</a></p>

<p style="float: right"><a href="diversion">3: Diversion and Use of surplus PV &gt;&gt;</a></p>

<h3 style="clear: both">2: Detection and Measurement of surplus PV</h3>

<p>By the use of non-invasive sensors for measuring voltage and current, the rate of energy flow (i.e. Power) is routinely determined in Open Energy Monitor applications. The underlying principles are described in the section &ldquo;<a href="vimeasurement">Different ways of Measuring Voltage and Current</a>&rdquo;.</p>

<p>Energy from the grid normally flows <b>into</b> the premises where consumption is taking place (when importing power). In this situation, the voltage and current waveforms are in-phase; they always have the same polarity.</p>

<p>The situation is reversed whenever surplus PV becomes available. To get energy to flow <b>away from</b> the premises (when exporting power), the instantaneous voltage at the PV&#39;s inverter must always be slightly greater than that of the mains. While in this state, the voltage and current are 180&deg; out-of-phase; their polarities are always opposite.</p>

<p><i>(If the output from the PV were to exactly match the load, then there would be no flow of current at the grid supply point, in either direction.)</i></p>

<p>To detect whether energy is being imported or exported at any given moment, it is only necessary to ascertain whether the instantaneous value of Power at the grid connection point (i.e. Voltage &times; Current) is positive or negative. There is a full explanation of how the direction of energy flow may be detected in <a href="https://openenergymonitor.org/emon/buildingblocks/ac-power-introduction">this Building Blocks page</a>. However, it is also necessary to determine <i>how much</i> surplus power is available so that the right amount of power can be diverted for an alternative purpose.</p>

<p>The <a href="https://openenergymonitor.org/emon/buildingblocks/arduino-sketch-voltage-and-current">standard OEM sketch for V &amp; I</a> runs for a short period of time (around a second or two) and then indicates the average power which has been flowing during that period. By repeated use of this routine, a &ldquo;dump load&rdquo; can be made to switch on and off as necessary in order to consume any surplus power. This type of system can work very effectively, and many tankfuls of hot water have been provided by this means. The development of several such systems is described at <a href="https://openenergymonitor.org/emon/node/176">https://openenergymonitor.org/emon/node/176</a>. My own first system, which was of this type, can be seen working <a href="http://www.youtube.com/watch?v=-lk6Me3cwuw">here</a>, and the sketch is <a href="files/Mk1_in_Garage_2.ino_.zip">here</a>.</p>

<p>With the above type of system, power to the load is diverted on the basis of surplus power that is <i>predicted</i> to be available over the next period. If conditions change, then too much or too little power could be diverted. The response time is also rather slow, and measurements are not continuous.</p>

<p>For the purpose of detecting surplus energy, the concept of an &ldquo;energy bucket&rdquo; has recently found great favour with DIY constructors. This concept is central to all versions of my Mk2 PV Router sketch. When using this system, the energy content of every individual mains cycle is calculated (no gaps!), and a running total of their sum is held in a suitably named variable in the controller&#39;s code such as <code>energyInBucket</code>. Surplus energy is only diverted when there is sufficient virtual energy in the &ldquo;energy bucket&rdquo;.</p>

<p>The &ldquo;energy bucket&rdquo; approach is directly analogous to the operation of the utility meter at the grid connection point. The Mk2 PV Router monitors the flow of energy adjacent to the supply meter and adjusts power to the dump load in order to maintain zero net flow.</p>

<p style="float: left"><a href="intro">&lt;&lt; 1: Introduction, and &ldquo;Power&rdquo; v. &ldquo;Energy&rdquo;</a></p>

<p style="float: right"><a href="diversion">3: Diversion and Use of surplus PV &gt;&gt;</a></p>

<p style="clear: both">&nbsp;</p>
