
 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    //background-color: #44b3e2; /* Black*/
    background-color: #0699fa; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    color:#fff;
    text-align:left;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav_inner {
    box-sizing: border-box;
    padding: 0 0 0 10px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 0px 0px;
    text-decoration: none;
    color: #fff;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
