.editGit {
  margin-top: -12px;
  margin-right: -15px;
  float: right;
}
.editGit a {
  background-color: #c4c4c4;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: 0.3s;
}
.editGit a:hover {
  background-color: #dcdcdc;
}
@media screen and (max-width: 650px) {
  .editGit {
    display:none;}
}
.searchContainer {
  box-sizing: border-box;
  width: 270px;
  margin: 0 auto;
  padding-right: 10px;
  padding-top: 20px;
}
.searchResults {
  position: absolute;
  max-width: 100%;
}
.nextPrev {
  box-sizing: border-box;
  border-top: 2px solid #000000;
  padding: 10px 0 0 0;
  width: 100%;
  color: black;
  font-size: 100%;
  text-align: center;
}
.next {
  display: inline-block;
  width: 50%;
  vertical-align:top;
}
.prev {
  display: inline-block;
  width: 50%;
  vertical-align:top;
}
.next i, .prev i {
  text-shadow: none;
}
.next a, .prev a {
  font-weight: bold;
  color: #44b3e2;
  max-width: 100px ;
}
body {
	font-family: Ubuntu, Veranda, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #f5f5f5;
}
.container {
	min-height: 100%;
	height: 100%;
	text-align: left;
}
#rightpanel {
	width: 100%;
	text-align: left;
}
#rightpanel-inner {
	padding: 20px;
}
.row {
	padding: 15px 20px 20px 20px;
	max-width:960px;
}
.title {
	font-size: 42px;
	padding: 20px;
}
.description {
	font-size: 22px;
}
.visnavblock {
	color: #44b3e2;
	font-size: 18px;
}
.visnav:hover {
	color: #44b3e2;
	cursor: pointer;
}
.visnav {
	margin-right: 4px;
	padding-left: 8px;
	padding-right: 8px;
	min-width: 20px;
	background-color: rgba(6, 153, 250, 0.1);
	line-height: 28px;
	float: left;
	text-align: center;
}
.login-box {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	width: 300px;
	margin: 0 auto;
	border-radius: 15px;
	padding: 10px;
}
#register-open {
	cursor: pointer;
}
#register-open:hover {
	color: rgba(255, 255, 255, 0.8);
}
#register-cancel {
	cursor: pointer;
}
#register-cancel:hover {
	color: rgba(255, 255, 255, 0.8);
}
#alert {
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 5px;
}
.icon-alert {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: -3px;
	padding-right: 5px;
	background-image: url('alert-icon.png');
}
#config-error {
	display: none;
	background-color: rgba(226, 50, 50, 1.0);
	padding: 10px;
}
.bluenav {
	float: right;
	display: block;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	font-weight: bold;
	font-size: 14px;
	padding: 11px;
	cursor: pointer;
	min-width: 30px;
	text-align: center;
}
.bluenav:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.warning {
	padding: 10px;
}
.warning p {
	padding: 10px;
	color: #ffffff;
	background-color: #b23535;
	margin-top: -15px;
}
.topmenu {
	background-color: #29abe2;
}
.menu {
	padding-bottom: 0;
}
#bodyfade {
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}
.appendix-section {
	background-color: #ecf5ff;
}
.appendix-section .title {
	background-color: #86bdf4;
	padding: 10px;
	color: #fff;
	font-size: 14px
}
.appendix-section .content {
	padding: 0 10px 10px 10px;
}
.toplevelhead {
	box-sizing: border-box;
	cursor: pointer;
	padding: 25px 15px 5px 15px;
	font-size: 18px;
}
.toplevelhead:hover > .topIcons {
  border: 4px solid #ffffff;
  background-color: #77c8ea;
}
.sublevelhead {
	cursor: pointer;
	padding: 15px 0 15px 35px;
}
.sublevelhead:hover {
  font-weight: bold;
}
.sublevel {
	padding: 0 0 0 60px;
}
.clickedOnce {
	font-weight: bold;
}
.sublevel ul {
	list-style-type: circle;
	margin: 0;
	padding: 0;
}
.sublevel ul li {
	padding: 0;
	max-width: 230px;
	margin-right: 30px;
}
.sublevel ul li a {
	padding: 12px;
}
.sublevel ul li a:hover {
  font-weight: bold;
}
.sublevel ul li a:first-child {
  padding-top: 5px;
}
.active {
	font-weight: bold;
}
li.active a {
  font-weight: bold;
}
.titleWrapper {
	width: 100%;
	height: 42px;
	cursor: pointer;
	white-space: nowrap;
}
.menuTitle {
	line-height: 42px;
	padding: 0 15px 0 15px;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	min-width: 300px;
	height: 42px;
}
.menuTitle span {
	font-weight: bold;
}
.boldText {
  font-weight: bold;
}
.menuLinks {
	line-height: 42px;
}
.menuLinks span {
	font-weight: bold;
}
.oemMenu {
	box-sizing: border-box;
}
.oemMenu ul {
	list-style-type: none;
	padding: 0 15px 0 15px;
	margin: 0;
}
.oemMenu ul li {
	padding: 0;
	height: 48px;
	text-align: left;
}
.oemMenu ul li a {
	box-sizing: border-box;
	font-size: 0.9em;
	padding: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	transition: 0.3s;
}
.oemMenu ul li a:hover {
  margin-left: 4px;
}
@media (max-width: 450px) {
	.container {
		width: 100%;
	}
	#rightpanel {
		width: 100%
	}
}

@media (min-width: 450px) and (max-width: 960px) {
	.container {
		width: 100%;
	}
	#rightpanel {
		width: 100%
	}
	.sublevel ul li {
		padding: 0;
		max-width: 230px;
		margin-right: 30px;
	}
}
@media (min-width: 960px) {
	.container {
		width: 960px;
	}
	.sublevel ul li {
		padding: 5px 0 5px 0;
		max-width: 230px;
		margin-right: 30px;
	}
}
#sidebar-open {
	margin-left: 0;
	float: left;
	height: 100%;
	cursor: pointer;
}
.menuSelect {
	float: right;
	margin-right: 7px;
	font-size: 1.4em;
}
.topIcons, .learnpageIcons {
  display: inline-block;
	width: 48px;
	height: 48px;
	margin: 0;
	padding: 0;
	font-size: 30px;
	text-align: center;
	line-height: 48px;
  border: 4px solid #ffffff;
  box-shadow: 2px 2px 2px rgba(150, 150, 150, 0.5);
  border-radius: 50%;
  transition: background-color 0.3s;
}
.topIcons.clickedOnce {
  border: 4px solid #ffffff;
  background-color: rgba(255,255,255, 0.2);
}
.toplevelname {
  display: inline-block;
  line-height: 56px;
}
.fa {
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.5);
}
.lowermenuWrapper {
  border-top-style: solid;
}
.darkerBkd {
  background-color: #22a5dd;
  transition: 0.3s;
}
.darkerBkd:hover {
  background-color: #44b3e2;
}
/*---------------------------------------------------------------------/
// Topnav
/*--------------------------------------------------------------------*/
#topnav {
  	background-color: #44b3e2;
  	height: 42px;
  	text-align: left;
    display:none;
}
.learnTitle {
  	margin: 0;
  	padding: 0;
  	line-height: 42px;
    height:42px;
    padding-left: 15px;
    color: #ffffff;
}
.learnTitle-iconWrapper {
    display:inline-block;
    height: 100%;
}
.learnTitle-titleWrapper {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.learnTitle-topLinks {
    float: right;
    padding-right: 15px;
}
.learnTitle-topLinks a {
    color: #ffffff;
}
  @media screen and (max-width: 650px) {
      .learnTitle-topLinks {
              display:none;}
  }
.learnTitle-topLinks-toplinkBox {
    padding-left:15px;
    display: inline-block;
}
/*---------------------------------------------------------------------/
// Table
/*--------------------------------------------------------------------*/
.container table {
    width:100%;
    border-collapse: collapse;
}
.container table th {
    text-align:left;
    border: 1px solid #ddd;
    padding:6px 13px;
    background-color: #777;
    color: #ffffff;
    font-weight: bold;
}
.container table td {
    text-align:left;
    border: 1px solid #ddd;
    padding:6px 13px;
}
.xaxiswrapper {
	overflow-x: auto;
	background-color: transparent;
}
/*---------------------------------------------------------------------/
//  Webkit scrollbar
/*---------------------------------------------------------------------*/
.xaxiswrapper::-webkit-scrollbar {
    width: 12px;
}
.xaxiswrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ffffff;
}
.xaxiswrapper::-webkit-scrollbar-thumb {
    background: #777777;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
pre::-webkit-scrollbar {
    width: 12px;
}
pre::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ffffff;
}
pre::-webkit-scrollbar-thumb {
    background: #777777;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.sidenav::-webkit-scrollbar {
    width: 12px;
}
.sidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #4eb7e3;
}
.sidenav::-webkit-scrollbar-thumb {
    background: #1b84b0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/*---------------------------------------------------------------------/
//  Sidebar
/*---------------------------------------------------------------------*/
.sidenav {
    height: 100vh; /* 100% Full-height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
	  background-color: #44b3e2;
    overflow-x: hidden; /* Disable horizontal scroll */
    color:#fff;
    text-align:left;
    transition: width 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	  -webkit-touch-callout: none;
  	-webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	   user-select: none;
}
  .sidenav a  {
      padding: 8px 8px 0 0;
      text-decoration: none;
      color: #fff;
      display: block;
  }
  .offcanvas a:focus {
      color: #f1f1f1;
  }
  @media screen and (max-height: 450px) {
      .sidenav a {font-size: 18px;}
  }
.sidenav_inner {
    box-sizing: border-box;
    padding: 0;
    width: 300px;
}
/*---------------------------------------------------------------------/
//  Std tags
/*---------------------------------------------------------------------*/
a {
	font-size: 14px;
	text-decoration: none;
	color: #44b3e2;
}
p {
	color: #333;
	font-size: 14px
}
p a {
	word-wrap: break-word;
}
h2, h3 {
  margin: 0;
  margin-bottom: 10px;
	color: #333;
}
h4 {
	padding: 2px 0 2px 5px;
	font-size: 14px;
	background-color: #333;
	color: #ffffff;
}
pre {
	border: 1px solid #ffffff;
	background-color: #eee;
	padding: 20px;
	overflow-x: auto;
	text-align: left;
}
ol {
	color: #333;
	font-size: 14px;
	padding-bottom: 8px;
}
li {
	font-size: 14px;
}
img {
 max-width: 100%;
}
hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 0;
  padding:0;
}
