body {
	font-family: Ubuntu, Veranda, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #ffffff;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -40px;
	text-align: left;
}
#rightpanel {
	width: 100%;
	text-align: left;
}
#rightpanel-inner {
	padding: 20px;
}
.row {
	padding: 20px;
}
.title {
	font-size: 42px;
	padding: 20px;
}
.description {
	font-size: 22px;
}
.visnavblock {
	color: #0699fa;
	font-size: 18px;
}
.visnav:hover {
	color: #0699fa;
	cursor: pointer;
}
.visnav {
	margin-right: 4px;
	padding-left: 8px;
	padding-right: 8px;
	min-width: 20px;
	background-color: rgba(6, 153, 250, 0.1);
	line-height: 28px;
	float: left;
	text-align: center;
}
.login-box {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	width: 300px;
	margin: 0 auto;
	border-radius: 15px;
	padding: 10px;
}
#register-open {
	cursor: pointer;
}
#register-open:hover {
	color: rgba(255, 255, 255, 0.8);
}
#register-cancel {
	cursor: pointer;
}
#register-cancel:hover {
	color: rgba(255, 255, 255, 0.8);
}
#alert {
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 5px;
}
.icon-alert {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: -3px;
	padding-right: 5px;
	background-image: url('alert-icon.png');
}
#config-error {
	display: none;
	background-color: rgba(226, 50, 50, 1.0);
	padding: 10px;
}
.bluenav {
	float: right;
	display: block;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	font-weight: bold;
	font-size: 14px;
	padding: 11px;
	cursor: pointer;
	min-width: 30px;
	text-align: center;
}
.bluenav:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.warning {
	padding: 10px;
}
.warning p {
	padding: 10px;
	color: #ffffff;
	background-color: #b23535;
	margin-top: -15px;
}
blockquote {
	font-family: serif;
	text-align: center;
	font-style: italic;
	background-color: #eee;
	padding: 20px;
}
.topmenu {
	background-color: #29abe2;
}
a {
	font-size: 14px;
}
p {
	color: #333;
	font-size: 14px
}
h2, h3 {
	color: #333;
}
h4 {
	padding: 2px 0 2px 5px;
	font-size: 14px;
	background-color: #333;
	color: #ffffff;
}
a {
	text-decoration: none;
}
pre {
	border: 1px solid #ffffff;
	background-color: #eee;
	padding: 20px;
	overflow-x: auto;
	text-align: left;
}
pre::-webkit-scrollbar {
	-webkit-appearance: none;
	-moz-appearance: none;
}
pre::-webkit-scrollbar:vertical {
	width: 12px;
}
pre::-webkit-scrollbar:horizontal {
	height: 12px;
}
pre::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 10px;
	border: 10px solid transparent;
}
pre::-webkit-scrollbar-track {
	background-color: transparent;
}
.xaxiswrapper {
	overflow-x: auto;
}
.xaxiswrapper::-webkit-scrollbar {
	-webkit-appearance: none;
	-moz-appearance: none;
}
.xaxiswrapper::-webkit-scrollbar:vertical {
	width: 12px;
}
.xaxiswrapper::-webkit-scrollbar:horizontal {
	height: 12px;
}
.xaxiswrapper::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 10px;
	border: 10px solid transparent;
}
.xaxiswrapper::-webkit-scrollbar-track {
	background-color: transparent;
}
.xaxiswrapper {
	background-color: transparent;
}
.xaxiswrapper table th {
	background-color: #777;
	color: #ffffff;
	font-weight: bold;
}
ol {
	color: #333;
	font-size: 14px;
	padding-bottom: 8px;
}
li {
	font-size: 14px;
	padding-bottom: 8px;
}
img {
	max-width: 100%;
}
.menu {
	padding-bottom: 0;
}
#topnav {
	background-color: #44b3e2;
	height: 42px;
	text-align: left;
}
#bodyfade {
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	/* 100% Full-height */
	width: 100%;
	/* 0 width - change this with JavaScript */
	position: fixed;
	/* Stay in place */
	top: 0;
	left: 0;
	z-index: 0;
}
.appendix-section {
	background-color: #44b3e2;
}
.appendix-section .title {
	background-color: #86bdf4;
	padding: 10px;
	color: #fff;
	font-size: 14px
}
.appendix-section .content {
	padding: 0 10px 10px 10px;
}
hr {
	border: 0;
	height: 1px;
	background: #ccc;
	margin: 0;
	padding: 0;
}
p a {
	word-wrap: break-word;
}
.toplevelhead {
	box-sizing: border-box;
	cursor: pointer;
	padding: 25px 15px 5px 15px;
	font-size: 18px;
}
.sublevelhead {
	cursor: pointer;
	padding: 15px 0 15px 30px;
}
.sublevel {
	padding: 0 0 0 60px;
}
.clickedOnce {
	font-weight: bold;
}
.topclickedOnce {
	font-weight: bold;
}
.sublevel ul {
	list-style-type: circle;
	margin: 0;
	padding: 0;
}
.sublevel ul li {
	padding: 15px 0 15px 0;
	max-width: 230px;
	margin-right: 30px;
}
.active {
	font-weight: bold;
}
.titleWrapper {
	width: 100%;
	height: 42px;
	cursor: pointer;
	white-space: nowrap;
}
.menuTitle {
	line-height: 42px;
	padding: 0 15px 0 15px;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	min-width: 300px;
}
.menuTitle span {
	font-weight: bold;
}
.learnTitle {
	margin: 0;
	padding: 0;
	line-height: 42px;
}
.learnTitle span {
  color: #ffffff;
}
.boldText {
  font-weight: bold;
}
.menuLinks {
	line-height: 42px;
}
.menuLinks span {
	font-weight: bold;
}
.oemMenu {
	box-sizing: border-box;
}
.oemMenu ul {
	list-style-type: none;
	padding: 0 15px 0 15px;
	margin: 0;
}
.oemMenu ul li {
	padding: 0;
	height: 48px;
	text-align: left;
}
.oemMenu ul li a {
	box-sizing: border-box;
	font-size: 1em;
	padding: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
}
@media (max-width: 450px) {
	.container {
		/*width: 450px;*/
		width: 100%;
	}
	#rightpanel {
		width: 100%
	}
}
@media (min-width: 450px) and (max-width: 960px) {
	.container {
		width: 100%;
	}
	#rightpanel {
		width: 100%
	}
	.sublevel ul li {
		padding: 10px 0 10px 0;
		max-width: 230px;
		margin-right: 30px;
	}
}
@media (min-width: 960px) {
	.container {
		width: 960px;
	}
	.sublevel ul li {
		padding: 5px 0 5px 0;
		max-width: 230px;
		margin-right: 30px;
	}
}
#sidebar-open {
	margin-left: 0;
	float: left;
	height: 100%;
	cursor: pointer;
}
.menuSelect {
	float: right;
	margin-right: 5px;
	font-size: 1.4em;
}
.topIcons {
	width: 40px;
	height: 40px;
}
.fa {
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.5);
}
.topLinks {
  float: right;
  padding-right: 15px;
}
.topLinks a {
  color: #ffffff;
}
.toplinkBox {
  padding-left:15px;
}
