<h2>Also see: <a href="https://openenergymonitor.org/emon/buildingblocks/rfm12b-wireless">Part 1 - Hardware Overview</a></h2>

<p>&nbsp;</p>

<h2>RFM12B&nbsp;- Part 2 -</h2>

<h2>Sending data between emonTx, emonBase and emonGLCD</h2>

<p>The data is sent by radio between the sensor nodes, the base station (including the RFM12Pi) and the display. This note describes the way the data is assembled and addressed in order to pass values between units.</p>

<p>The Arduino-based emon modules are programmed with application sketches that make use of the JeeLib library to handle transmission and reception of the data, using the function calls provided by the library. The RFM12Pi is programmed in PHP but uses exactly the same methods and data structure. <a href="#appendix1">Appendix 1</a> contains instructions for configuring the Raspberry Pi module.</p>

<h3>Configuring &amp; Addressing</h3>

<p>All the devices that communicate with each other must use the same frequency. For the Arduino-based devices, this is specified in the software and must be one of the pre-defined constants. It must match the frequency of the hardware. (You should check which frequencies are permitted in your locality. It is possible to operate at the wrong frequency, e.g. 868 MHz hardware at 433 MHz, but the range will be very small, maybe less than 1 m).</p>

<p>The addressing scheme has two parts, the &ldquo;Network Group&rdquo; and &ldquo;Node ID&rdquo;. The RFM12B module supports 250 network groups. The RFM12 module can have only one network group, 212. Only devices that belong to the same group can talk and listen to each other. Think of a network group as being like a room with people in it. Everyone in the room can talk to anyone else in the room, but can neither talk to, nor hear, anyone in a different room.</p>

<p>Within the network group, there can be 31 Node IDs. Nodes 0 and 31 are reserved. Node 0 is used for On-Off Keying (OOK) and node 31 for broadcast messages. The way we use it, each device must have a unique ID. Think of the ID as the name of a person in the room example above. <a href="#appendix2">Appendix 2</a> lists our standardised Node IDs.</p>

<p>There is another limitation: As all the devices in all the network groups all use the same frequency, only one transmitter may be active at any time, otherwise, data loss is likely to occur.</p>

<h3>Setting up the r.f. link</h3>

<p>To set up the link, we use the function</p>

<pre>
	rf12_initialize(nodeID, freq, networkGroup);
</pre>

<p>The <em>NodeID</em> is set for each device, and transmitted as part of each message, thus, all receivers know where each message originates from.<br />
The <em>freq</em> (frequency) must be one of the pre-defined constants mentioned above and listed in the comments in the example sketches.<br />
The <em>networkGroup</em> must be the same for all devices in the system &mdash; we have standardised on 210.</p>

<h3>Assembling the data</h3>

<p>The library accepts a variable length data packet. Maximum length is 66 bytes. For data sent by the emonTx, the most convenient way to organise this is to use the &#39;structure&#39; feature of the C language. The packet set up declaration looks like this:</p>

<pre>
	typedef struct {
	 int power1, power2, power3, Vrms; 
	} PayloadTX;
</pre>

<p>This statement creates a new type of variable called <em>PayloadTX</em>, and is made up of 4 integers called power1, power2, power3 and Vrms.</p>

<h3>Scaling the data</h3>

<p>To keep packet size down and make it easier to interpret the data in emonCMS, we have standardised on signed integer data. You must limit maximum packet size to 66 bytes. This introduces a restriction, but there is an easy work around. If you need to transmit a floating point number, (say the temperature, to a tenth of a degree), then it is multiplied by 10 or 100 first, and at the receiving end divided by 10 or 100 to restore the value. Power is in Watts, so can be sent unchanged, but divided by 1000 if display in kW is desired.<br />
(If you are not using emonCMS, you can put what you like into the structure, but you must still limit the maximum size to 66 bytes. An <em>integer</em> or <em>word</em> is 2 bytes, a <em>long</em>, <em>float</em> or <em>double</em> is 4 bytes, a <em>char</em> or <em>byte</em> is one byte. The Arduino IDE Help Reference gives the sizes of all the variable types).</p>

<p>In order to use this new variable type, you need to create an instance of it:</p>

<pre>
	PayloadTX emontx;
</pre>

<p>which creates a variable called <em>emontx</em> of type <em>PayloadTX</em>. The packet <strong>must</strong> be called <em>emontx</em> because this name is hard-coded into the file <em>emontx_lib.ino</em></p>

<p>The important thing to note is this: <strong>you must use the same definition of payload at each end of the link</strong>. The radio link has absolutely no idea of the meaning of the data. What goes in one end, comes out the other. If you use a different definition for the data packet at each end of your link, then unless you really know what you are doing, it is probable your data will be scrambled.</p>

<div style="border: 10px solid yellow; padding: 1em 2em">
<p><img alt="Warning!" src="files/alert.png" style="padding-right: 10px; width: 50px; height: 42px; " /><strong>Here is an example of how to get it wrong:</strong></p>

<p><br />
In the emonTx sketch:</p>

<pre style="width: 90%">
	typedef struct {
	 int power1, power2, power3, Vrms; 
	} PayloadTX;
	PayloadTX emontx;
</pre>

<p>In the emonGLCD sketch:</p>

<pre style="width: 90%">
	typedef struct {
	 int Vrms, power1, power2, power3; 
	} PayloadTX;
	PayloadTX emontx;
</pre>

<p>So although both data packets are called <em>emontx</em>, the number you put into <em>power1</em> at the emonTx end comes out of <em>Vrms</em> at the GLCD end.<br />
(Why? Because those two are <strong>the first 2 bytes</strong> in the data packet).</p>
</div>

<h3>Accessing the data</h3>

<p>The data in the structure is accessed with the name of the structure and the name of the member joined by the familiar dot operator, e.g. emontx.power1 You assign a value like this:</p>

<pre>
	emontx.power1 = realPower;
</pre>

<p>and extract it:</p>

<pre>
	totalPower1 +=  emontx.power1;
</pre>

<h3>Sending the data</h3>

<p>When the members of the data packet structure have had values assigned to them, a simple call to the function <em>send_rf_data(&nbsp;)</em>, which already knows what data to send, suffices. (This is the how it&rsquo;s done in the emonTx &ndash; it is slightly different for the base sending the time to emonGLCD).</p>

<h3>Receiving the data</h3>

<p>Receiving the data is somewhat more complicated. Here is the part of the standard emonGLCD code where the data is actually received:</p>

<pre>
	if (rf12_recvDone())
	{
	  if (rf12_crc == 0 &amp;&amp; (rf12_hdr &amp; RF12_HDR_CTL) == 0)
	  {
	    int node_id = (rf12_hdr &amp; 0x1F);
	    if (node_id == TXNODE) 
	    {
	      emontx = *(PayloadTX*) rf12_data;
	      last_emontx = millis();
	    }

	    if (node_id == BASENODE)
	    {
	      RTC.adjust(DateTime(2012, 1, 1, rf12_data[1],
	      rf12_data[2], rf12_data[3]));
	      last_emonbase = millis();
	    } 
	  }
	}
</pre>

<p>Let us work through the code line by line:</p>

<pre>
rf12_recvDone()</pre>

<p>checks to see if a packet has been received, returning true if it has, thus the block that follows is executed, otherwise execution continues below this block. (which doesn&rsquo;t concern us here).</p>

<p>The next line,</p>

<pre>
if {rf12_crc ...}</pre>

<p>checks that the packet was received without error. That being the case, the <em>node_ID</em> is extracted &mdash; now we know where the packet came from. If it is one of the two we are interested in (we have already set BASENODE and TXNODE at the top of the program to the node numbers of our emonBase and emonTx respectively), then we do something with the data. Otherwise, we ignore it.</p>

<p>How we handle the data is different in each case. If it is the time from emonCMS via the emonBase, we use a method slightly different to the one explained above to parcel up the time data. The data is in the format &ldquo;thms&rdquo; &ndash; the letter t followed by 3 more bytes, the second byte is hours, the third is minutes and the fourth is seconds. Thus, we can pick out the elements from the array <em>rf12_data[ ]</em> and put those into the function to set the real-time clock with:</p>

<pre>
RTC.adjust(...)</pre>

<p>In the case of the power data from the emonTx, we need to use our structure. The way this is done takes a little picking apart. Look at this line:</p>

<pre>
	emontx = *(PayloadTX*) rf12_data;
</pre>

<p><em>rf12_data</em> is actually a &lsquo;pointer&rsquo;. It is the <em>address</em> of the first byte of received data and is waiting to be extracted. It is <em>not</em> the data itself. The &ldquo;&nbsp;*&nbsp;&rdquo; prefixed to (PayloadTX*) means &ldquo;that which rf12_data points to&rdquo; and &ldquo;(PayloadTX*)&rdquo; is a cast to assure the compiler that, although the data types are different, it&lsquo;s OK to interpret it as our structure and to copy the data into our emontx structure.</p>

<p>And so the data becomes available in the format it was transmitted.</p>

<p><strong>A note about the &lsquo;multinode&rsquo; base sketches.</strong><br />
These sketches listen for all Node_IDs, assume the data is always a sequence of integers, and forward it to emonCMS prefixed with the node number it originated from, without attempting to interpret it. The assignment to the true variables is done by you, the user, when you configure emonCMS.</p>

<h3>SUMMARY</h3>

<ul>
	<li>All units must use the same frequency</li>
	<li>All units must use the same networkGroup number</li>
	<li>Each unit must have a unique Node_ID</li>
	<li>Each non-multinode receiver must be told the Node_ID of each sender it must listen for and decode</li>
	<li>Each end of a link must use the same data structure (usually a struct or an array) or must be flexible (multi-node)</li>
</ul>

<p>For a simple example of Arduino&nbsp;&gt; Arduino&nbsp;(or emonTx&nbsp;to emonBase) RFM12B&nbsp;transmission sketch see:&nbsp;<a href="https://github.com/openenergymonitor/RFM12B_Simple">https://github.com/openenergymonitor/RFM12B_Simple</a></p>

<h2 id="appendix1">Appendix 1 - The RFMPi Adapter board</h2>

<p>RFMPi board adds wireless (433 or 868MHz) RF transceiver capability to the Raspberry Pi. The RFMPi has an on-board ATMega328 microcontroller pre-loaded with firmware to receive and pass the radio payload of the RFM packets from JeeNode and OpenEnergyMonitor modules onto Raspberry Pi&rsquo;s internal serial UART port. The correct frequency board needs to be purchased to match the rest of your system.</p>

<p>EmonHub then reads the byte data string generated by the RFMPi adapter board from the serial port and decodes it using the decoder specification set in emonhub.conf.</p>

<p>The main documentation page for the Raspberry Pi is <a href="https://wiki.openenergymonitor.org/index.php?title=Raspberry_Pi">https://wiki.openenergymonitor.org/index.php?title=Raspberry_Pi</a></p>

<h2 id="appendix2">Appendix 2 - Standard Node IDs</h2>

<p>The recommended standard for Node IDs is:</p>

<table border="1" cellpadding="1" cellspacing="1" style="width: 300px; ">
	<tbody>
		<tr>
			<td style="width: 42px; "><strong>ID</strong></td>
			<td style="width: 245px; "><strong>Node Type&nbsp;</strong></td>
		</tr>
		<tr>
			<td style="width: 42px; ">0</td>
			<td style="width: 245px; ">Special allocation in JeeLib RFM12 driver&nbsp; reserved for OOK use</td>
		</tr>
		<tr>
			<td style="width: 42px; ">
			<p>1-4</p>
			</td>
			<td style="width: 245px; ">Control nodes&nbsp;</td>
		</tr>
		<tr>
			<td style="width: 42px; ">5-10</td>
			<td style="width: 245px; ">Energy monitoring nodes</td>
		</tr>
		<tr>
			<td style="width: 42px; ">11-14</td>
			<td style="width: 245px; ">Un-assigned</td>
		</tr>
		<tr>
			<td style="width: 42px; ">15-16</td>
			<td style="width: 245px; ">Base Station &amp; logging nodes</td>
		</tr>
		<tr>
			<td style="width: 42px; ">17-30</td>
			<td style="width: 245px; ">Environmental sensing nodes (temperature humidity etc.)</td>
		</tr>
		<tr>
			<td style="width: 42px; ">31</td>
			<td style="width: 245px; ">Special allocation in JeeLib RFM12 driver Node31 can communicate with nodes on any network group</td>
		</tr>
	</tbody>
</table>

<p>There is no intention to enforce this as a standard. If you choose your own Node IDs you will need to ensure that you change the example sketches to match your numbering scheme.</p>

<h2>Extending Range</h2>

<p>A node can be setup as a packet forwarder to extend the range of a network, see JeeLabs post:&nbsp;<a href="http://jeelabs.org/2011/01/12/relaying-rf12-packets/">http://jeelabs.org/2011/01/12/relaying-rf12-packets/</a></p>
