<h2> Identifying Different Radio Modules </h2>

This page has been merged with <a href="rfm12_69">RFM12B & RFM69CW Wireless Transceiver Modules</a>.
<br>
<br>
<!--

<p>So far, two types of Hope radio modules have been used with OpenEnergyMonitor kits &amp; modules. The first version was the RFM12B. During 2014, the RFM69CW became generally available and from May 2015, only the RFM69CW was&nbsp;supplied. Both modules have been manufactured for three frequency bands, 433 MHz, 868 MHz and 915 MHz, but only the first two are in common use. Since early 2015, the OEM Shop has standardised on 433 MHz.</p>

<h3 style="margin-top:4ex">The RFM69CW - 433 MHz option</h3>

<p><img src="files/RFM69CW-433.png" style="height:360px; width:400px" /><br />
The antenna connection (pin 1) is top left. Distinguishing features are the i.c. is 28-pin square, marked &quot;RF69&quot;. The visible difference between the 433 MHz version and the 868 MHz version is the 433 MHz version has an extra capacitor, shown arrowed above, and green and bronze dots.</p>

<h3 style="margin-top:4ex">The RFM69CW - 868 MHz option</h3>

<p><img src="files/RFM69CW-868.png" style="height:360px; width:400px" /><br />
The antenna connection (pin 1) is top left. Distinguishing features are the i.c. is 28-pin square, marked &quot;RF69&quot;. The visible difference between the 433 MHz version and the 868 MHz version is the 868 MHz version has no capacitor in the position shown arrowed above, and might have yellow and bronze dots.</p>

<h3 style="margin-top:4ex">The RFM12B - 433 MHz option</h3>

<p><img src="files/RFM12B-433_0.png" style="height:360px; width:400px" /><br />
The antenna connection (pin 1) is top left. Distinguishing features are the i.c. is usually either a 16-pin dual-in-line (as here) or a &#39;blob&#39;. The visible difference between the 433 MHz version and the 868 MHz version is the 433 MHz version has an extra capacitor, shown arrowed above.</p>

<h3 style="margin-top:4ex">The RFM12B - 868 MHz option</h3>

<p><img src="files/RFM12B-868.png" style="height:360px; width:400px" /><br />
The antenna connection (pin 1) is top left. Distinguishing features are the i.c. is usually either a 16-pin dual-in-line or a &#39;blob&#39; (as here). The visible difference between the 433 MHz version and the 868 MHz version is the 868 MHz version has no capacitor in the position shown arrowed above.</p>

<h3 style="margin-top:4ex">The RFM12B - with SMT Crystal</h3>

<p><img src="files/RFM12B-X868.png" style="height:360px; width:400px" /><br />
The RFM12B has also been manufactured with a smaller SMT crystal, this is an 868 MHz version, with no capacitor in the position shown arrowed above. The antenna connection (pin 1) is top left. <em>(Picture from Sparkfun)</em></p>

<h2 style="margin-top:4ex">Orienting and fitting the Radio Module</h2>

<p>Do not rely on the relative positions of the crystal and the i.c. when orienting the RFM module. The safe guide is the cluster of small surface-mount components, which are nearest to the antenna pin (pin 1) in both the RFM12B and the RFM69CW versions. You should locate the PCB track from a pad to the antenna, which will be either a whip or an SMA socket, to see which is pin 1.</p>

<p>Make absolutely certain that you have oriented the module correctly before soldering, as without a professional rework station it is almost impossible to remove the module without damage either to the module, or to the main pcb, or both.</p>

<h2 style="margin-top:4ex">Difference between 433 MHz &amp; 868 MHz modules</h2>

<p>The only difference between the modules for the two RF bands is the antenna tuning, hence the additional capacitor that is visible in the photographs above. A 433 MHz band module will work at 868 MHz, and an 868 MHz band module will work at 433 MHz, but because the tuning is wrong, receiver sensitivity, transmitter output power and maximum range are significantly reduced. Operating an RFM69CW at maximum power on the wrong band or without an antenna, can damage the module.</p>

<p>Operation on the wrong band can, however, be very useful when testing, and is easily accomplished by setting the frequency in the sketch or in emonhub.</p>

<h2 style="margin-top:4ex">Differences between RFM12B &amp; RFM69CW modules</h2>

<p>Both modules share the same pin configuration, so are physically interchangeable.</p>

<p>However, the later RFM69CW has a higher output power and consequently draws a higher current when transmitting, although the standby current is lower. This must be taken into account in the case of battery operation, or when power supply output is limited, as is the case with the emonTx V3 when powered by an ac adapter.</p>

<h3>Software</h3>

<p>The low-level commands and the internal configuration of the modules are vastly different, so totally different software is required for each. Both sets are included in JeeLib, and a simple software switch is used in the sketch to select which part of the library should be used. It is essential this is correctly set, because the module will not operate, and the sketch will hang, if the incorrect setting is chosen.</p>

<p>The software switch is:</p>

<ul style="list-style-type:none">
	<li>#define RF69_COMPAT 0 <em style="padding-left:3em">for the RFM12B</em></li>
	<li>#define RF69_COMPAT 1 <em style="padding-left:3em">for the RFM69CW</em></li>
</ul>

<p>There is a common interface, so no other changes are required.</p>

<h2 style="margin-top:4ex">References</h2>

<p>RFM12B Data Sheet: <a href="http://www.hoperf.com/upload/rf/RFM12.pdf">http://www.hoperf.com/upload/rf/RFM12.pdf</a></p>

<p>RFM69CW Data Sheet: <a href="http://www.hoperf.com/upload/rf/RFM69CW-V1.1.pdf">http://www.hoperf.com/upload/rf/RFM69CW-V1.1.pdf</a></p>

-->
