<p>Using the <a href="https://shop.openenergymonitor.com/edimax-usb-wifi-adapter-ew-7811un/">Edimax EW-7811</a></p>

<p>?<img alt="" src="http://cdn2.bigcommerce.com/server4400/98a75/products/166/images/619/R7603621_01__99912.1423579337.120.120.jpg" style="height:86px; width:120px" /></p>

<h2>Using&nbsp;Web-config</h2>

<p>Follow instructions:&nbsp;<a href="https://github.com/openenergymonitor/raspap-webgui">https://github.com/openenergymonitor/raspap-webgui</a></p>

<h2>&nbsp;</h2>

<h2>Manual Setup</h2>

<p>We need to edit /etc/network/interfaces on the root file system partition of the Pi&#39;s SD card.</p>

<p>Connect to the Pi via Ethernet and SSH, or connect a keyboard mouse and monitor to the Pi or edit the file on your computer. Assuming you connect to the Pi via SSH:</p>

<pre>
$ sudo nano /etc/network/interfaces</pre>

<p>Edit the interfaces file, inserting your SSID and password.</p>

<address>auto lo</address>

<address>iface lo inet loopback</address>

<address>iface eth0 inet dhcp</address>

<address><br />
auto wlan0</address>

<address>allow-hotplug wlan0</address>

<address>iface wlan0 inet dhcp</address>

<address>wpa-ssid &quot;YOUR_SSID&quot;</address>

<address>wpa-psk &quot;WIFI_PASSWORD&quot;</address>

<p><br />
[CTRL] + [X] to save the file, and exit nano</p>

<p>reboot the Pi, or the adapter:</p>

<pre>
$ sudo ifdown wlan0; sudo ifup wlan0</pre>

<p>Script to check for working wifi connection and restart wifi if needed&nbsp;<a href="https://github.com/dweeber/WiFi_Check">https://github.com/dweeber/WiFi_Check</a></p>

<p><br />
Some users have reported disabling power saving on the Edimax module improves reliability:</p>

<p><a href="https://openenergymonitor.org/emon/node/2941">https://openenergymonitor.org/emon/node/2941</a></p>

<address>$ sudo nano /etc/modprobe.d/8192cu.conf</address>

<p>add this line:</p>

<pre>
options 8192cu rtw_power_mgnt=0 &lt;code&gt;</pre>

<p>save the file, and reboot.</p>

<p><br />
For terminal GUI and auto scanning of available Wifi networks wicd can be used:</p>

<pre>
sudo apt-get install wicd-curses sudo wicd-curses</pre>

<p><a href="http://www.raspyfi.com/wi-fi-on-raspberry-pi-a-simple-guide/">http://www.raspyfi.com/wi-fi-on-raspberry-pi-a-simple-guide/</a></p>
