<h2>Solar PV power diversion with emonTx using a PLL, emonGLCD and temperature measurement, by Martin Roberts</h2>

<p style="float: left"><a href="https://openenergymonitor.org/emon/pvdiversion/pll/hardware">&lt;&lt; 9: Hardware</a></p>

<p style="float: right"><a href="https://openenergymonitor.org/emon/pvdiversion/pll/references">11: References. &gt;&gt;</a></p>

<h3 style="clear: both">10: Derivatives</h3>

<p>Two notable derivatives of this design have been published.</p>

<ol>
	<li>A three-phase 50 Hz version using only one voltage reference for the emonTx Shield, by Petrik.<br />
	Originally published at <a href="https://openenergymonitor.org/emon/node/2339#comment-13967">https://openenergymonitor.org/emon/node/2339#comment-13967</a>, the updated sketch can be found at <a href="files/emonTx_Solar_Controller_Temperature_PLL_LCD_3Phase.ino">files/emonTx_Solar_Controller_Temperature_PLL_LCD_3Phase.ino</a><br />
	In this design, still in development, a single phase dump load is connected, but power is measured across all three phases. The hardware is an emonTx Shield with a local liquid crystal display, directly connected, as well as the radio module. The number of samples per cycle has been reduced to 36 to accommodate the additional readings (now 4 current and one voltage), and the voltage samples are stored in an array so that a delayed copy of the Phase 1 voltage can be used to calculate the real power of phases 2 &amp; 3.</li>
	<li>A 60 Hz single phase 120 V North American version for the emonTx by Dan Woodie.<br />
	The final version is published at <a href="https://openenergymonitor.org/emon/node/2679">https://openenergymonitor.org/emon/node/2679</a>, earlier versions and discussion at <a href=" https://openenergymonitor.org/emon/node/2624">https://openenergymonitor.org/emon/node/2624</a> and <a href=" https://openenergymonitor.org/emon/node/2720">https://openenergymonitor.org/emon/node/2720</a><br />
	This design caters for 3 current inputs and has compile-time switches to include or exclude the load controller (if excluded, it becomes a power monitor only) and to include or exclude temperature measurement and the drive to SYNCPIN.</li>
</ol>

<p>Although the design was originally for the emonTx V2, it can be used with the emonTx V3. The points to note are:</p>

<ol>
	<li>If the emonTx V3 is to be powered only by the ac-ac adapter, a &#39;high-sensitivity&#39; opto-trigger must be used. See <a href="https://openenergymonitor.org/emon/Choosing%20an%20Energy%20Diverter">Choosing an Energy Diverter</a> for further details and a circuit diagram.</li>
	<li>Changes must be made to the IO pin assignments in MartinR&#39;s original sketch:<br />
	&nbsp;
	<table border="1" cellpadding="1" cellspacing="1" style="width: 400px;">
		<tbody>
			<tr>
				<td class="rtecenter">
				<p><strong>Analogue pin assignments</strong></p>
				</td>
				<td class="rtecenter"><strong>EmonTx V2</strong></td>
				<td class="rtecenter"><strong>EmonTx V3</strong></td>
			</tr>
			<tr>
				<td>VOLTSPIN</td>
				<td class="rtecenter">2</td>
				<td class="rtecenter">0</td>
			</tr>
			<tr>
				<td>CT1PIN</td>
				<td class="rtecenter">3</td>
				<td class="rtecenter">1</td>
			</tr>
			<tr>
				<td>CT2PIN</td>
				<td class="rtecenter">0</td>
				<td class="rtecenter">2</td>
			</tr>
			<tr>
				<td>CT3PIN (if implemented)</td>
				<td class="rtecenter">1</td>
				<td class="rtecenter">3</td>
			</tr>
			<tr>
				<td>CT4PIN (if possible)</td>
				<td class="rtecenter">-</td>
				<td class="rtecenter">4</td>
			</tr>
			<tr>
				<td>PWRPIN (temp sensor power)</td>
				<td class="rtecenter">-</td>
				<td class="rtecenter">5</td>
			</tr>
			<tr>
				<td class="rtecenter"><strong>Digital pin assignments</strong></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>LEDPIN</td>
				<td class="rtecenter">9</td>
				<td class="rtecenter">6</td>
			</tr>
			<tr>
				<td>SYNCPIN</td>
				<td class="rtecenter">6</td>
				<td class="rtecenter">10</td>
			</tr>
			<tr>
				<td>SAMPPIN</td>
				<td class="rtecenter">5</td>
				<td class="rtecenter">9</td>
			</tr>
			<tr>
				<td>RFMSELPIN</td>
				<td class="rtecenter">10</td>
				<td class="rtecenter">4</td>
			</tr>
			<tr>
				<td>RFMIRQPIN</td>
				<td class="rtecenter">2</td>
				<td class="rtecenter">3</td>
			</tr>
			<tr>
				<td>SDOPIN</td>
				<td class="rtecenter">12</td>
				<td class="rtecenter">12</td>
			</tr>
			<tr>
				<td>W1PIN</td>
				<td class="rtecenter">4</td>
				<td class="rtecenter">5</td>
			</tr>
			<tr>
				<td>TRIACPIN</td>
				<td class="rtecenter">3</td>
				<td class="rtecenter">2</td>
			</tr>
		</tbody>
	</table>

	<p style="float: left">SYNCPIN &amp; SAMPPIN are provided to facilitate testing and checking the timing with an oscilloscope.<br />
	PWRPIN in the emonTx V3 is used to supply power to the temperature sensor. It needs to be set permanently high if temperature measurement is required. (It is so that when battery power is used (not relevant in this application), the temperature sensor can be powered only when it is required to take a reading, thus potentially extending battery life.)</p>
	</li>
</ol>

<p style="float: left"><a href="https://openenergymonitor.org/emon/pvdiversion/pll/hardware">&lt;&lt; 9: Hardware</a></p>

<p style="float: right"><a href="https://openenergymonitor.org/emon/pvdiversion/pll/references">11: References. &gt;&gt;</a></p>

<h3 style="clear: both">&nbsp;</h3>
