<h2>
	Solar PV power diversion with emonTx using a PLL, emonGLCD and temperature measurement, by Martin Roberts</h2>
<h3>
	A design for a controller to route surplus P.V. energy into the domestic hot water supply, and to provide energy monitoring.</h3>
<h3 style="font-size: 90%; font-face: italic; font-weight: normal">
	Documentation by Robert Wall</h3>
<ol>
	<li>
		<a href="/emon/pvdiversion/pll/features">Features</a></li>
	<li>
		<a href="/emon/pvdiversion/pll/softwaredesign">Software Design Overview</a></li>
	<li>
		<a href="/emon/pvdiversion/pll/operatingprinciple">What is a PLL? &ndash; operating principle</a></li>
	<li>
		<a href="/emon/pvdiversion/pll/adcinterrupts">The ADC and interrupts</a></li>
	<li>
		<a href="/emon/pvdiversion/pll/integermaths">Integer maths</a></li>
	<li>
		<a href="/emon/pvdiversion/pll/advantagesoveremonlib">Advantages over emonLib</a></li>
	<li>
		<a href="/emon/pvdiversion/pll/implementation">Implementation</a></li>
	<li>
		<a href="/emon/pvdiversion/pll/sketchdetail">The sketch explained in detail.</a></li>
	<li>
		<a href="/emon/pvdiversion/pll/hardware">Hardware</a></li>
	<li>
		<a href="/emon/pvdiversion/pll/derivatives">Derivatives</a></li>
	<li>
		<a href="/emon/pvdiversion/pll/references">References</a></li>
</ol>
