<h2>
	Solar PV power diversion with emonTx using a PLL, emonGLCD and temperature measurement, by Martin Roberts</h2>
<p style="float: left"><a href="pvdiversion/pll/derivatives">&lt;&lt; 10: Derivatives</a></p>
<h3 style="clear: both">
	11: References</h3>
<p>Atmel data sheet ATmega48PA/88PA/168PA/328P<br />
	<a href="http://www.atmel.com/Images/8161s.pdf">www.atmel.com/Images/8161s.pdf</a></p>
<p>Fairchild zero-crossing triac opto-coupler data sheets:<br />
	<a href="http://www.fairchildsemi.com/ds/MO/MOC3041M.pdf">www.fairchildsemi.com/ds/MO/MOC3041M.pdf</a><br />
	<a href="http://www.fairchildsemi.com/ds/MO/MOC3061M.pdf">www.fairchildsemi.com/ds/MO/MOC3061M.pdf</a></p>
<p style="float: left"><a href="pvdiversion/pll/derivatives">&lt;&lt; 10: Derivatives</a></p>
<h3 style="clear: both">
	&nbsp;</h3>
