<h2>Solar PV power diversion with emonTx using a PLL, emonGLCD and temperature measurement, by Martin Roberts</h2>

<p style="float: left"><a href="https://openenergymonitor.org/emon/pvdiversion/pll/implementation">&lt;&lt; 7: Implementation</a></p>

<p style="float: right"><a href="https://openenergymonitor.org/emon/pvdiversion/pll/hardware">9: Hardware &gt;&gt;</a></p>

<h3 style="clear: both">8: The sketch explained in detail.</h3>

<p>The version described was published at <a href="https://openenergymonitor.org/emon/node/1535">https://openenergymonitor.org/emon/node/1535</a> and can be downloaded from <a href="files/emonTx_Solar_Controller_Temperature_PLL_0.zip">files/emonTx_Solar_Controller_Temperature_PLL_0.zip</a></p>

<h3 style="font-style: italic">Calibration &amp; Hardware set-up</h3>

<p>Lines 19 &ndash; 21<br />
The voltage and current calibration constants for the three inputs. These must be set according to your hardware by comparing with known good values.</p>

<p>Lines 22 &amp; 23<br />
The correction for difference in phase shift between the voltage and current transformers. These must be set to report maximum real power (unity power factor) on a purely resistive load, and drawing a current that is typical of normal use if possible.</p>

<p>Line 24<br />
This is a small adjustment should it be found that the voltage signal is leaking into the current inputs. Normally it should be zero.</p>

<p>Line 26<br />
In the original sketch, the temperature input is used to turn off the diverted power when the desired tank temperature is reached. The value here allows the diverted energy to be calculated. If a standard cylinder thermostat is used instead to switch off the heater, the calculation will give the energy that was <em>available for diversion</em>, not the actual energy diverted (which may be considerably less when the water reaches maximum temperature and the thermostat prevents further diversion).</p>

<p>Line 27<br />
Normally, the on-board LED indicates a value transmitted. It may be configured here to indicate that the PLL is locked to mains.</p>

<p>Line 35<br />
3600 J is a common value. The size of the energy buffer may need to be changed according to the size of the meter&#39;s energy packet. See <a href="https://openenergymonitor.org/emon/buildingblocks/meters">Energy meters</a>. If this is changed, the thresholds in lines 36 &amp; 37 may need to be changed accordingly.</p>

<p>Line 43<br />
The time between radio transmissions.</p>

<p>Lines 65 &ndash; 75<br />
These constants define the I/O pins used, and should be correct for the emonTx. If the emonTx Shield, or an Arduino with custom I/O hardware is used, these will need to be changed accordingly. SYNCPIN and SAMPPIN are useful for debugging but are not necessary for operation. (It has been reported that removing the code for SYNCPIN improves the loop stability &ndash; see <a href="https://openenergymonitor.org/emon/node/2679">https://openenergymonitor.org/emon/node/2679</a>)</p>

<p>None of the other preprocessor directives should need to be changed.</p>

<p>Lines 86 &ndash; 89<br />
These set up the One-wire library for temperature measurement and the SPI library for the serial connection to the RFM12B radio module.</p>

<h3 style="font-style: italic">RF Data to GLCD, emonBase &amp; emonCMS</h3>

<p>Lines 91 &amp; 92 set up the familiar data structure for passing data via the radio module.</p>

<h3 style="font-style: italic">Static variables</h3>

<p>Lines 94 &ndash; 112 declare the static variables used in the sketch.</p>

<h3 style="font-style: italic">Setup( )</h3>

<p>Lines 118 &ndash; 127 set the I/O pins as required.</p>

<p>Lines 131 &ndash; 134 set the serial interface to the radio module.</p>

<p>Lines 136 &ndash; 152 set up the radio module itself.</p>

<p>Line 138 is for setting the RF band: the value for 433 MHz is 0x80D7, for 868 MHz use 0x80E7. Line 140 sets the frequency within the band and is correct for both bands.</p>

<p>Line 141 sets a lower data rate if range is an issue (the receiver must be set likewise if this is changed).</p>

<p>Lines 159 &amp; 160 &#39;unset&#39; default settings for the ADC made by the Arduino library.</p>

<p>Lines 163 &ndash; 172. These set up Timer1, the 2500 Hz &lsquo;tick&rsquo; to allow the PLL to control it and for it to generate the interrupt necessary to start the ADC.</p>

<h3 style="font-style: italic">Loop( )</h3>

<p>The main loop comprises just a few lines, lines 176 &ndash; 201, because the main body of work is done in the interrupt handlers and in supporting functions.</p>

<p>Line 177<br />
If the start of a new cycle (a positive-going zero crossing of the voltage) is detected by the PLL, then the last cycle&#39;s totals for average energy, rms V and I and some miscellaneous variables are accumulated.</p>

<p>Lines 179 &ndash; 192<br />
Every 5 s, at nextTransmitTime, the rms values of voltage and current, the average real and apparent powers, the diverted power and frequency are calculated, the temperature from the last time is read from the temperature sensor and the results are sent both by radio and to the Serial port. Then the temperature sensor is instructed to measure the temperature again ready for the next time (the temperature is expected to change slowly so this is not a problem).<br />
If the on-board LED is not being used to indicate that the loop is locked, then it is flashed while this is happening to indicate that data is being sent.<br />
Finally, it&rsquo;s possible to manually trigger the dump load &lsquo;on&rsquo; for a specified number of cycles (1 &ndash; 255) by typing a number at the serial console, e.g. enter 2 to pulse every second mains cycle.</p>

<h3 style="font-style: italic">The Timer1 interrupt handler ISR(TIMER1_COMPA_vect)</h3>

<p>Lines 204 &ndash; 210.<br />
This function is invoked when the interrupt is triggered as the 16-bit timer-counter Timer1 reaches its pre-set limit, thereby generating our 2500 Hz clock &lsquo;tick&rsquo;.<br />
The two digitalWrite statements put a pulse on SAMPPIN to indicate the start of conversion. The ADC multiplexer is set to the voltage input, and the ADC conversion is started.</p>

<h3 style="font-style: italic">The ADC interrupt handler ISR(ADC_vect)</h3>

<p>Lines 213 &ndash; 263<br />
This function is invoked when the interrupt is triggered after the ADC completes its conversion.</p>

<p>Lines 215 &ndash; 217<br />
The static variables are ones that need to be stored between calls to the function. The others are temporary variables used in the calculations.</p>

<p>Lines 221 &amp; 262<br />
Like the other interrupt handler, a pulse is sent to SAMPPIN while the function is working.</p>

<p>Lines 222 &amp; 223<br />
The important first task is to recover the value from the ADC. It is in ADCH &amp; ADCL and the value is transferred into &#39;result&#39;.</p>

<p>Line 226<br />
The switch statement checks which input was used to read the analogue value and one of the following &#39;case&#39; branches is executed.</p>

<p>Lines 228 &ndash; 243<br />
Voltage Input.</p>

<p>Lines 229 &amp; 230 set the ADC multiplexer to the next input to be measured (CT1) and start the conversion. While that is happening, the old value from the previous sample is saved for use in the filter, the new value copied and the input offset (more on that later) is subtracted and the resulting value squared and accumulated (line 234). The offset is then updated by adding in a small fraction of the difference between the original value and the present offset &ndash; this action making the low-pass filter (lines 236 &amp; 237). An interpolation using this and the last sample (lines 239 &amp; 241) performs a time shift (effectively a phase shift) on the voltage to align it with the current reading associated with the previous voltage sample, and finally (lines 240 &amp; 242) the power is calculated and accumulated.</p>

<p>Lines 244 &ndash; 252<br />
Current input 1.</p>

<p>Lines 245 &amp; 246 set the ADC multiplexer to the next input (CT2) and thereafter this follows the same pattern as the voltage input, except of course there is no time shift and no power calculation.</p>

<p>Lines 253 &ndash; 260 Current input 2.</p>

<p>This is much the same as the first current input. There is no need to pre-set the voltage input for the multiplexer &ndash; this is done separately by the Timer1 ISR, but at the end of this when the 3 inputs have been read, the function to update the PLL is called (line 259).</p>

<h3 style="font-style: italic">Update the PLL</h3>

<p>Lines 265 - 339</p>

<p>Lines 267 &ndash; 270<br />
The static variables are ones that need to be stored between calls to the function. The others are temporary variables used in the calculations.</p>

<p>The function is split into 3 main sections:</p>

<ol>
	<li>If 50 sets of samples have been completed (<em>samples&gt;=NUMSAMPLES; line 276</em>), and if the voltage is rising (determined by whether the voltage at this sample is greater than the last sample) then we take advantage of the fact that the value of the voltage is very conveniently a good number to use to correct the value of Timer1 on which the 2500 Hz tick is based. The voltage is subtracted from the Timer1 value. If the voltage was positive, it meant the time between ticks was too long, the measurement was late and the time will be shortened on the next mains cycle; conversely if the voltage was negative, the time between ticks was too short, the measurement was early and the time will be lengthened on the next mains cycle. This mechanism (lines 281 &ndash; 298) is the heart of the PLL.<br />
	<span style="font-style:italic">Note: The &lsquo;loop gain&rsquo; &ndash; a measure of how the control loop responds to changes and indeed whether it will be stable or not &ndash; depends on the slope at the zero crossing which in turn depends on the amplitude of the voltage input being correct. The voltage at the a.c. input socket should give a peak &ndash; peak value of about 850 &ndash; 900 counts out of the ADC at normal mains voltage.</span><br />
	Next, the accumulated values for the cycle (V<sup>2</sup>, I<sup>2</sup>, powers etc) are copied into global static variables to be picked up by the main loop (lines 303 &ndash; 308) and the cycle values are reset (lines 310 &ndash; 318). A most important variable is the flag &ldquo;newCycle&rdquo; that indicates to the main loop that this process has been completed, so that it can pick up the accumulated values.</li>
	<li>The negative-going zero crossing (at NUMSAMPLES/2) is when SYNCPIN is set low. It was set high at the positive-going crossing so this pin carries a square wave synchronised to mains frequency &ndash; it is useful for debugging but is not necessary for operation.</li>
	<li>Four samples before the negative-going zero crossing (line 325) is where we determine whether to arm the triac. &ldquo;availableEnergy&rdquo; is one of the global static variables that will be updated by the main loop, and is analogous to the &ldquo;Energy Bucket&rdquo; of Robin Emley&rsquo;s article. If the level is above the upper threshold, the triac is turned on (lines 327 &amp; 331 &ndash; 335) and it remains on until the level has fallen below the lower threshold (lines 328 &amp; 336) when it is turned off.</li>
</ol>

<h3 style="font-style: italic">AddCycle</h3>

<p>Lines 342 &ndash; 356.<br />
This function is called at the start of the main loop when the end of a mains cycle has been detected (newCycle is set by the ADC interrupt handler).<br />
The running totals for the cycle are added to the totals for the 5 s period and the flag is cleared.<br />
DivertedCycleCount is a measure of the energy available for diversion.</p>

<h3 style="font-style: italic">CalculateVIPF</h3>

<p>Lines 359 &ndash; 393.<br />
This is called to perform the calculations for the average values every 5 s prior to transmitting the results.</p>

<p>Lines 363-365 calculate the mean values and take the square root, then scale the result according to the calibration constants.</p>

<p>Lines 367 &ndash; 374 similarly calculate the mean powers, apply the correction (if any &ndash; it should be zero), and calculate the apparent powers and power factors.</p>

<p>Line 375 calculates the &#39;diverted power&#39; (often this will be the power available for diversion).</p>

<p>Line 376 calculates the mains frequency. (Note: the constant may be changed to calibrate this if the actual crystal frequency is known or can be measured.)</p>

<p>Lines 379 &ndash; 382 transfer the required values to the emontx structure ready for the radio module.</p>

<p>Lines 384 &ndash; 392 finally reset the accumulators.</p>

<h3 style="font-style: italic">SendResults</h3>

<p>Lines 395 &ndash; 420.<br />
The data already prepared for the radio module is sent (line 397) and the remainder of this function prints values to the serial monitor. The &ldquo;Offset&rdquo; values are useful for checking that the hardware bias of the input circuit and the filter is working correctly.</p>

<h3 style="font-style: italic">Rfm_write</h3>

<p>Lines 423 &ndash; 431.<br />
Sends a word to the radio module via the SPI interface.</p>

<h3 style="font-style: italic">Rfm_send</h3>

<p>Lines 434 &ndash; 471.<br />
Sends the complete message.</p>

<p>First, the radio module is powered and the transmitter switched on (lines 439 &amp; 440) and line 443 puts it into tx register write mode, allowing multiple bytes to be sent.</p>

<p>In the &lsquo;while&rsquo; loop (lines 445 &ndash; 463), the message header is constructed first in lines 450 &ndash; 456, then the message itself (line 457) followed by the checksum. Line 465 actually transfers the byte to the radio module via the SPI bus. Finally, the transmitter is shut down and the module put into sleep mode.</p>

<h3 style="font-style: italic">ConvertTemperature</h3>

<p>Lines 473 &ndash; 478.<br />
Starts the temperature conversion process.<br />
Note that if a 2-wire parasitic connection to the temperature sensor is used and problems are experienced, line 477 should be changed to:<br />
&nbsp;&nbsp;&nbsp;&nbsp;oneWire.write(CONVERT_TEMPERATURE,1);</p>

<h3 style="font-style: italic">ReadTemperature</h3>

<p>Lines 480 &ndash; 497.<br />
This function reads the temperature from the scratchpad memory in the temperature module and returns the value converted to &deg;C &times; 100.</p>

<p>The module is set up in lines 488 &ndash; 490, the data is read in line 491 and the checksum is computed and compared in line 492. If good, the temperature is extracted and converted by lines 494 &ndash; 496, else an obviously false value of 300 &deg;C is returned to flag the error.</p>

<p style="float: left"><a href="https://openenergymonitor.org/emon/pvdiversion/pll/implementation">&lt;&lt; 7: Implementation</a></p>

<p style="float: right"><a href="https://openenergymonitor.org/emon/pvdiversion/pll/hardware">9: Hardware &gt;&gt;</a></p>

<h3 style="clear: both">&nbsp;</h3>
