<h2>Solar PV power diversion with emonTx using a PLL, emonGLCD and temperature measurement, by Martin Roberts</h2>

<p style="float: left"><a href="/emon/pvdiversion/pll/features">&lt;&lt; 1: Features</a></p>

<p style="float: right"><a href="/emon/pvdiversion/pll/operatingprinciple">3: What is a PLL? &ndash; operating principle. &gt;&gt;</a></p>

<h3 style="clear: both">2: Software Design Overview</h3>

<p>The PLL Power Diversion sketch uses advanced techniques to achieve a performance that is in several respects superior to that which is achievable with the standard demonstration sketches and emonLib. This is not to denigrate emonLib nor the other libraries that the demonstration sketches employ, those are designed for general use and as such need to cover all eventualities. In a closely controlled application, it is possible to bypass these general purpose functions and, at the expense of more advanced programming, control both the processor itself and the external devices &ndash; radio and temperature sensor &ndash; at much lower level to achieve an enhanced performance.</p>

<p>The sketch uses a phase locked loop to synchronise to the mains frequency, it uses the much faster integer maths to speed up the calculations, and the ADC runs in the background communicating with the main program via interrupts.</p>

<p>This design builds on top of the excellent work done by Robin Emley (<a href="https://openenergymonitor.org/emon/mk2">&ldquo;Diverting surplus PV Power&rdquo;</a>) and on the emonLib library.</p>

<p>The basic power diversion algorithm is the same as Robin Emley&rsquo;s and sections 1 &ndash; 6 of &ldquo;Diverting surplus PV Power&rdquo; provide a good explanation of the principles and basic operation. If you are not familiar with that, I suggest you read those pages before continuing.</p>

<p style="float: left"><a href="/emon/pvdiversion/pll/features">&lt;&lt; 1: Features</a></p>

<p style="float: right"><a href="/emon/pvdiversion/pll/operatingprinciple">3: What is a PLL? &ndash; operating principle. &gt;&gt;</a></p>

<h3 style="clear: both">&nbsp;</h3>
