<h2>Energy Modeling and Assessment tools</h2>

<p>The following are a collection of open source tools that we have developed as part of this project and through collaboration with others in order to better understand the context of energy and how zero carbon energy systems can work.</p>

<p><strong>Hourly zero carbon energy model<a href="http://openenergymonitor.org/energymodel"><img alt="" src="http://localhost/docs/files/zerocarbonenergymodeling.png" style="width: 300px; height: 168px; float: right; margin-left: 0px; margin-right: 0px;" /></a></strong><br />
This tool, documentation and source code examples are there as an exercise in understanding the dynamics of an zero carbon energy system on an hourly basis, the matching of supply and demand.<br />
Start by loading the tool here so that the dataset for the model loads in time: http://openenergymonitor.org/energymodel<br />
The following examples and sections are available via the left hand menu:</p>

<ul>
	<li>Introduction</li>
	<li>Energy Overview</li>
	<li>1. Variable supply</li>
	<li>2. Variable supply and flat demand</li>
	<li>3. Variable supply, traditional electricity demand and oversupply</li>
	<li>4. Mixed supply and flat demand</li>
	<li>5. Variable supply and space heating demand</li>
	<li>6. Electric Vehicles</li>
	<li>7. All</li>
	<li>Aggregation</li>
	<li>ZCB Dataset</li>
	<li>ZCB web model</li>
	<li>Python models</li>
</ul>

<p>The examples include javascript and python source code examples.</p>

<p>&nbsp;</p>

<p><strong>Realtime uk electricity grid visualisation<a href="http://openenergymonitor.org/ukgrid/"><img alt="" src="http://localhost/docs/files/ukgrid.png" style="width: 300px; height: 214px; float: right;" /></a></strong><br />
This tool visualises electricity supply and demand in the uk at present highlighting the role of different electricity generation sources in providing for overall electricity demand.</p>

<p>Live tool and link to source code:</p>

<p><a href="http://openenergymonitor.org/ukgrid">http://openenergymonitor.org/ukgrid</a><br />
&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Zero carbon energy model for the UK<a href="http://zerocarbonbritain.org/energy_model/other/3/"><img alt="" src="http://localhost/docs/files/zcbmodel.png" style="width: 300px; height: 266px; float: right;" /></a></strong><br />
This model was built with Philip James a researcher on the ZeroCarbonBritain project at the Centre for Alternative Technology. It is based on but not exactly the same as their ZeroCarbonBritain spreadsheet model.</p>

<p><a href="http://zerocarbonbritain.org/energy_model/other/3">http://zerocarbonbritain.org/energy_model/other/3</a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><img alt="" src="http://localhost/docs/files/myhomeenergyplanner.png" style="width: 300px; height: 229px; float: right;" /></strong></p>

<p><strong>MyHomeEnergyPlanner</strong><br />
My Home Energy Planner is an open source energy assessment tool that we have developed in collaboration with CarbonCoop for modeling space heating energy requirements of buildings and assessing the effect of carrying out whole home energy retrofits, aiming for 70-80% space heating energy savings.</p>

<p><a href="https://github.com/emoncms/MyHomeEnergyPlanner">https://github.com/emoncms/MyHomeEnergyPlanner</a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Building thermal performance monitoring and modeling</strong></p>

<ul>
	<li><a href="http://openenergymonitor.blogspot.co.uk/2013/09/measuring-building-thermal-performance.html">Measuring building thermal performance<img alt="" src="http://localhost/docs/files/openbemsim.png" style="width: 300px; height: 239px; float: right;" /></a></li>
	<li><a href="http://localhost/docs/node/2999">Simple 3 stage dynamic building model theory</a>, <a href="https://github.com/emoncms/openbem/tree/master/DynamicCoHeating">source code example</a></li>
	<li><a href="http://localhost/docs/node/6258">Static coheating emoncms</a> module by Eric AMANN</li>
	<li>Intro to building energy modeling blog series:
	<ol>
		<li><a href="http://openenergymonitor.blogspot.co.uk/2013/06/building-energy-modelling-part-1-whole.html">Introduction</a></li>
		<li><a href="http://openenergymonitor.blogspot.co.uk/2013/06/building-energy-modelling-part-2-first.html">First attempts at model development</a></li>
		<li><a href="http://openenergymonitor.blogspot.com/2013/06/how-much-energy-does-it-take-to-heat.html">Model 101, building fabric heat loss</a></li>
		<li><a href="http://openenergymonitor.blogspot.com/2013/06/building-energy-modelling-ventilation.html">Ventilation heat loss</a></li>
		<li><a href="http://openenergymonitor.blogspot.com/2013/06/building-energy-modelling-simple.html">Simple javascript model</a></li>
	</ol>
	</li>
	<li>Heating system and heatpump modeling:
	<ul>
		<li><a href="http://localhost/docs/node/3011">Radiator model</a></li>
		<li><a href="http://localhost/docs/node/3021">Heatpump model</a></li>
	</ul>
	</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>
