<h2>AC Power Theory - Advanced maths</h2>

<p>This page covers the mathematics behind calculating real power, apparent power, power factor, RMS voltage and RMS current from instantaneous Voltage and Current measurements of single phase AC electricity. Discreet time equations are detailed since the calculations are carried out in the Arduino in the digital domain.&nbsp;</p>

<p>For a much nicer Arduino code snippet version of this page, see: <a href="https://openenergymonitor.org/emon/buildingblocks/ac-power-arduino-maths">AC Power theory - Arduino&nbsp;maths</a></p>

<h3>Real power</h3>

<p>Real power (also known as active power) is defined as the power used by a device to produce useful work.</p>

<p>Mathematically it is the definite integral of voltage, u(t), times current, i(t), as follows:</p>

<p>&nbsp;<img alt="" height="57" src="http://localhost/docs/files/equation1.png" width="400" /></p>

<p><strong><em>Equation 1.</em></strong><em> Real Power Definition.</em></p>

<p>U - Root-Mean-Square (RMS) voltage.</p>

<p>I - Root-Mean-Square (RMS) current.</p>

<p><em>cos(&phi;) -</em> Power factor.</p>

<p>The discrete time equivalent is:</p>

<p>&nbsp;<img alt="" height="68" src="http://localhost/docs/files/equation2.png" width="246" /></p>

<p><strong><em>Equation 2.</em></strong><em> Real Power Definition in Discrete Time.</em></p>

<p>u(n) - sampled instance of u(t)</p>

<p>i(n) - sampled instance of i(t)</p>

<p>N - number of samples.</p>

<p>Real power is calculated simply as the average of N voltage-current products. It can be shown that this method is valid for both sinusoidal and distorted waveforms.</p>

<h3>RMS Voltage and Current Measurement</h3>

<p>An RMS value is defined as the square root of the mean value of the squares of the instantaneous values of a periodically varying quantity, averaged over one complete cycle. The discrete time equation for calculating voltage RMS is as follows:</p>

<p>&nbsp;<img alt="" src="http://localhost/docs/files/equation3.png" /></p>

<p><strong><em>Equation 3.</em></strong><em> Voltage RMS Calculation in Discrete Time Domain.</em></p>

<p>RMS current is calculated using the same equation, substituting voltage samples, u(n), for current samples, i(n).</p>

<h3>Apparent Power and Power Factor</h3>

<p>Apparent power is calculated, as follows:</p>

<p class="rteindent1"><em>Apparent power = RMS Voltage x RMS current</em></p>

<p>and the power factor:</p>

<p class="rteindent1"><em>Power Factor = Real Power / Apparent Power</em></p>

<p>This page is based on Atmel&#39;s AVR465 appnote page 12-15 which can be found&nbsp;<a href="http://www.atmel.com/dyn/resources/prod_documents/doc2566.pdf">here</a></p>

