<h2>AC Power&nbsp;Theory - Arduino maths</h2>

<h3>Instantaneous Voltage and current</h3>

<p>As the name suggests, AC Voltage and current continually alternate. If we draw a picture of the voltage and current waveform over time, it will look something like the image below. Depending on the type of load consuming power, the current waveform - blue in the diagram below - is what you get if you look at a typical laptop computer power supply. (There&#39;s an incandescent light bulb present, as well).</p>

<p>The image was made by sampling the mains voltage and current at high frequency, which is exactly what we do on the emontx or Arduino. We make between 50 and 100 measurements every 20 milliseconds. 100 if sampling only current. 50, if sampling voltage <em>and</em> current. We&#39;re limited by the Arduino analog read command and calculation speed.</p>

<p><strong>Each individual sample is an instantaneous voltage or current reading.</strong></p>

<p><img alt="" src="http://lab.megni.co.uk/oemdocs/files/instvi.png" style="width: 500px; height: 387px; " /></p>

<h3>Calculating real power on an Arduino</h3>

<p>Real power is the average of instantaneous power. The calculation is relatively straightforward.</p>

<p>First we calculate the instantaneous power by multiplying the instantaneous&nbsp;voltage measurement by the&nbsp;instantaneous current measurement. We sum the instantaneous power measurement over a given number of samples and divide by that number of samples:</p>

<pre>
<span style="color: #CC6600;">for</span> (n=0; n&lt;number_of_samples; n++)
{
&nbsp;&nbsp;<span style="color: #7E7E7E;">// inst_voltage and inst_current calculation from raw ADC input goes here</span>

&nbsp;&nbsp;inst_power&nbsp;=&nbsp;inst_voltage&nbsp;*&nbsp;inst_current;

&nbsp;&nbsp;sum_inst_power&nbsp;+=&nbsp;inst_power;
}

real_power&nbsp;=&nbsp;sum_inst_power&nbsp;/&nbsp;number_of_samples;

</pre>

<h3>Root-Mean-Square (RMS) Voltage</h3>

<p>The root-mean-square is calculated in the way the name suggests. First we square the quantity, then we calculate the mean and finally, the square-root of the mean of the squares, this is how its done:</p>

<pre>
<span style="color: #CC6600;">for</span> (n=0; n&lt;number_of_samples; n++)
{
&nbsp;&nbsp;<span style="color: #7E7E7E;">// inst_voltage calculation from raw ADC input goes here.</span>

&nbsp;&nbsp;squared_voltage&nbsp;=&nbsp;inst_voltage&nbsp;*&nbsp;inst_voltage;

&nbsp;&nbsp;sum_squared_voltage&nbsp;+=&nbsp;squared_voltage;
}

mean_square_voltage&nbsp;=&nbsp;sum_squared_voltage&nbsp;/&nbsp;number_of_samples;
root_mean_square_voltage&nbsp;=&nbsp;<span style="color: #CC6600;">sqrt</span>(mean_square_voltage);
&nbsp;</pre>

<h3>Root-Mean-Square (RMS)&nbsp;Current</h3>

<p>Same as the RMS voltage calculation:</p>

<pre>
<span style="color: #CC6600;">for</span> (n=0; n&lt;number_of_samples; n++)
{
&nbsp;&nbsp;<span style="color: #7E7E7E;">// inst_current calculation from raw ADC input goes here.</span>

&nbsp;&nbsp;squared_current&nbsp;=&nbsp;inst_current&nbsp;*&nbsp;inst_current;

&nbsp;&nbsp;sum_squared_current&nbsp;+=&nbsp;squared_current;
}

mean_square_current&nbsp;=&nbsp;sum_squared_current&nbsp;/&nbsp;number_of_samples;
root_mean_square_current&nbsp;=&nbsp;<span style="color: #CC6600;">sqrt</span>(mean_square_current);

</pre>

<h3>Apparent power</h3>

<pre>
apparent_power&nbsp;=&nbsp;root_mean_square_voltage&nbsp;*&nbsp;root_mean_square_current;</pre>

<p>As RMS voltage is generally a fixed value such as: 230V (+10% -6% in the UK). It&#39;s possible to approximate apparent power without making a voltage measurement by setting the RMS voltage to 230V. This is a common practice used by commercially available energy monitors.</p>

<h3>Power factor</h3>

<pre>
power_factor&nbsp;=&nbsp;real_power&nbsp;/&nbsp;apparent_power;
</pre>

<p>That&#39;s the fundamentals of AC power measurement on the emontx or an Arduino.</p>

<h3>EmonLib</h3>

<p>We have packaged these calculations into an Arduino library called EmonLib to simplify Arduino energy monitor sketches. The library can be found on github here: <a href="https://github.com/openenergymonitor/EmonLib">https://github.com/openenergymonitor/EmonLib</a></p>

<p><strong>Next: <a href="https://openenergymonitor.org/emon/buildingblocks/ac-power-advanced-maths">AC Power Theory - Advanced maths</a></strong> - The code snippets on this page are expressed in strict mathematical terms.</p>

