
<style> .introimg {width:400px; float:left; margin-bottom:20px; margin-right:20px;} </style>

<h2>Understanding the Zero Carbon Energy System</h2>

<p>The next 20 years are set to be an incredibly important time as we switch our energy systems away from fossil fuels to a zero carbon energy supply. if we are to stay within an outside chance of not exceeding 2C warming we will see a revolution in our energy systems.<p>

<p>The last 7 years saw global photovoltaic capacity grow 15x from 16 GW to over <a href="http://en.wikipedia.org/wiki/Growth_of_photovoltaics">233GW</a>. The UK installed most of its current 11.5GW capacity of PV in this time. Global wind power capacity grew over 3.5 x from 121GW to <a href="https://en.wikipedia.org/wiki/Wind_power_by_country">432GW</a> (UK 13.6GW). The number of electric vehicles on the road globally has grown over 13x from 100,000 in 2011 to <a href="http://ev-sales.blogspot.co.uk/2016/12/2016-in-review.html">1,300,000 at the end of 2015</a>, likely to be <a href="https://www.theguardian.com/environment/2016/oct/13/electric-car-sales-set-to-pass-2m-landmark-globally-by-end-of-2016">2 million at the end of 2016.</a></p>

<p>A zero carbon energy system presents many benefits. The electrification of transport will mean our air especially in built up areas will be cleaner to breathe improving our health. Many of the most successful examples of renewable energy systems around the world also tend to have <a href="http://energytransition.de/2012/10/energy-by-the-people/">high levels of household and community ownership</a> which helps to ensure that financial benefits of a zero carbon energy system are distributed more widely and that there is greater involvement and democratic control in the energy system.</p>

<p>The <a href="http://zerocarbonbritain.org/">ZeroCarbonBritain report</a> by the Center for Alternative Technology shows how it is technically possible to achieve a zero carbon energy system in the UK through both new efficient buildings, existing buildings retrofit, electrification of transport, land use changes and powering up with renewable energy combined with storage and biomass backup technologies to balance supply with demand.</p>

<p>In the next 20 years we will increasingly be living in highly insulated buildings with the remaining heat demand ultimately being supplied by heating systems such as heatpumps that can be powered by zero carbon energy. Smart monitoring and control technologies will be required to regulate the output of these heating systems to match both occupancy and a variable renewable supply. At times of excess supply, power could be diverted to plugged in electric cars or other battery stores in addition to heatstores such as hot water tanks.</p>

<p>The following work documents our attempt to better understand the requirements and dynamics of such an energy system and is intented to be a resource that can be used alongside monitoring to better understand energy at home and the wider context.</p>

<h3>Who is this for</h3>

<p><b>OpenEnergyMonitor</b><br>First of all it is for our own curiosity and understanding. The OpenEnergyMonitor project started out of a desire to better understand home energy consumption in the context of the need for the wider transition to zero carbon, sustainable energy. The following pages cover some of our research into this wider zero carbon energy system, from a technology mix overview provided by scenario planning to detailed hourly energy modelling on how a variable renewable supply can be combined with storage and backup sources to meet demand. We are also interested in developing monitoring and elements of smart control for both heating systems and electric vehicle charging and this work can help inform that work providing a more robust theoretical underpinning to its value.</p>

<p><b>Community Energy</b><br>At several occasions we have heard people talk about the idea of creating ZeroCarbonBritain style energy scenarios at a smaller scale, perhaps at the regional, town, village, community level. We hope the open nature of this work and accessibility of the modelling could lend itself well for use by community energy groups interested in exploring how their community energy wind, hydro and solar projects could supply local energy demands.</p>

<p><b>Interested individuals</b><br>
This is also for anyone interested in learning more about how a zero carbon energy system could work. This could perhaps contribute in a small way to the debate on which combination of technologies could provide a reliable energy supply and outline perhaps less conclusions and more methodology for analysing different technologies and the likely scale of their contribution especially as key variables change over time such as costs or embodied energy.</p>

<p><b>Companies, developers</b><br>This is also for companies, organisations and technology developers working on building a zero carbon energy system. The modelling can be used as a tool to help investigate and highlight the role of different technologies and help guide the development of particular features.</p>

<div id="tmp" style="display:none">
  <img src="images/solar.jpg" class="introimg"/>
  <img src="images/catchargingstation.jpg" class="introimg"/>
  <img src="images/nwind122_1119083c.jpg" class="introimg"/>
  <img src="images/IMAG1191.jpg" class="introimg"/>
</div>

<script>
    $(window).ready(function(){
        var content = $("#tmp").html();
        $("#rightpanel-inner").html(content);
        $("#rightpanel-inner").css("padding","20px");
    });
</script>
