<h2>Sampler 2.0</h2>
<p>Still in development but may be useful and easier to use than VISampler.</p>
<p><strong>Main features</strong></p>
<ul>
    <li>Select arduino from USB port drop down list</li>
    <li>Take samples at different sample rates</li>
    <li>Select any analog input or multiple analog inputs</li>
    <li>See a zoom-able, pan-able graph.</li>
    <li>Get Mean and Standard deviation of sample</li>
</ul>
<p><strong>Download: </strong><a href="http://localhost/docs/files/Waveform Sampler.zip">Waveform Sampler.zip</a></p>
<p><strong>To run</strong></p>
<ol>
    <li>Make sure you have java, rxtx lib etc installed: go through this page first: <a href="http://localhost/docs/node/11">Install Java and RXTX</a></li>
    <li>Upload SamplerSketch to Arduino</li>
    <li>Run SamplerProgram by typing<strong> java Program</strong> into a terminal window (capital P important) in the SamplerProgram directory.</li>
    <li>Select USB port and click start!<br />
    &nbsp;</li>
</ol>
<p><img width="600" height="375" alt="" src="http://localhost/docs/files/sampler.png" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>